<a href="https://colab.research.google.com/github/medicalmom/M12/blob/master/M12.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import numpy as np
import pandas as pd
import datetime as dt
import sys
from scipy import stats

We start by importing modules and then we ingest the dataset we would like to work with.

The New York City Open Data set 311 maintains a dataset for motor vehicle crashes
https://data.cityofnewyork.us/resource/h9gi-nx95.csv

This dataset will be used to examine and look for information on the crashes reported. The data set is ingested below. We will do some cleaning, and grouping before looking for patterns. Any findings, we will use this to look for statistical signficance if we find interesteing observations.

In [0]:
MVC = pd.read_csv("https://data.cityofnewyork.us/resource/h9gi-nx95.csv?$limit=2000000", low_memory=False)

####Set options on rows and columns to allow all to be seen, or limit to 500 for rows.

In [4]:
pd.set_option('display.max_columns', None) 
pd.set_option('display.max_rows', 500) 
MVC.head()

,accident_date,accident_time,borough,zip_code,latitude,longitude,location,on_street_name,off_street_name,cross_street_name,number_of_persons_injured,number_of_persons_killed,number_of_pedestrians_injured,number_of_pedestrians_killed,number_of_cyclist_injured,number_of_cyclist_killed,number_of_motorist_injured,number_of_motorist_killed,contributing_factor_vehicle_1,contributing_factor_vehicle_2,contributing_factor_vehicle_3,contributing_factor_vehicle_4,contributing_factor_vehicle_5,collision_id,vehicle_type_code1,vehicle_type_code2,vehicle_type_code_3,vehicle_type_code_4,vehicle_type_code_5
0,2019-09-25T00:00:00.000,8:00,NaN,NaN,40.746105,-73.727554,POINT (-73.727554 40.746105),NaN,NaN,73-10 COMMONWEALTH BOULEVARD,0.0,0.0,0,0,0,0,0,0,Reaction to Uninvolved Vehicle,Unspecified,NaN,NaN,NaN,4212306,Station Wagon/Sport Utility Vehicle,Station Wagon/Sport Utility Vehicle,NaN,NaN,NaN
1,2019-09-14T00:00:00.000,18:05,QUEENS,11360,40.776090,-73.772350,POINT (-73.77235 40.77609),29 AVENUE,215 STREET,NaN,0.0,0.0,0,0,0,0,0,0,Unsafe Speed,Failure to Yield Right-of-Way,Unspecified,NaN,NaN,4206157,Sedan,Station Wagon/Sport Utility Vehicle,Sedan,NaN,NaN
2,2019-09-27T00:00:00.000,17:20,MANHATTAN,10003,40.725445,-73.987620,POINT (-73.98762 40.725445),NaN,NaN,133 EAST 4 STREET,1.0,0.0,0,0,1,0,0,0,Passenger Distraction,Other Vehicular,NaN,NaN,NaN,4215053,Taxi,Bike,NaN,NaN,NaN
3,2019-09-05T00:00:00.000,18:40,BROOKLYN,11238,40.688324,-73.958244,POINT (-73.958244 40.688324),NaN,NaN,160 CLIFTON PLACE,0.0,0.0,0,0,0,0,0,0,Unspecified,NaN,NaN,NaN,NaN,4203025,Station Wagon/Sport Utility Vehicle,NaN,NaN,NaN,NaN
4,2019-09-27T00:00:00.000,7:30,QUEENS,11385,40.709850,-73.917145,POINT (-73.917145 40.70985),ONDERDONK AVENUE,WILLOUGHBY AVENUE,NaN,0.0,0.0,0,0,0,0,0,0,Driver Inattention/Distraction,Unspecified,NaN,NaN,NaN,4214315,Sedan,Sedan,NaN,NaN,NaN

We would like to get some information about the dataset. Below is the information.

In [5]:
MVC.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1610967 entries, 0 to 1610966
Data columns (total 29 columns):
accident_date                    1610967 non-null object
accident_time                    1610967 non-null object
borough                          1122206 non-null object
zip_code                         1122009 non-null object
latitude                         1414201 non-null float64
longitude                        1414201 non-null float64
location                         1414201 non-null object
on_street_name                   1295103 non-null object
off_street_name                  1070979 non-null object
cross_street_name                223699 non-null object
number_of_persons_injured        1610950 non-null float64
number_of_persons_killed         1610936 non-null float64
number_of_pedestrians_injured    1610967 non-null int64
number_of_pedestrians_killed     1610967 non-null int64
number_of_cyclist_injured        1610967 non-null int64
number_of_cyclist_killed         1610967 non-null int64
number_of_motorist_injured       1610967 non-null int64
number_of_motorist_killed        1610967 non-null int64
contributing_factor_vehicle_1    1606715 non-null object
contributing_factor_vehicle_2    1394326 non-null object
contributing_factor_vehicle_3    104175 non-null object
contributing_factor_vehicle_4    21691 non-null object
contributing_factor_vehicle_5    5549 non-null object
collision_id                     1610967 non-null int64
vehicle_type_code1               1605547 non-null object
vehicle_type_code2               1345101 non-null object
vehicle_type_code_3              133242 non-null object
vehicle_type_code_4              49473 non-null object
vehicle_type_code_5              10644 non-null object
dtypes: float64(4), int64(7), object(18)
memory usage: 356.4+ MB

We would be interested to know how many null values are in some columns. If there are alot of NaN or null values, we could drop these columns.

In [6]:
MVC[MVC['vehicle_type_code_3'].isnull()].head(50)

,accident_date,accident_time,borough,zip_code,latitude,longitude,location,on_street_name,off_street_name,cross_street_name,number_of_persons_injured,number_of_persons_killed,number_of_pedestrians_injured,number_of_pedestrians_killed,number_of_cyclist_injured,number_of_cyclist_killed,number_of_motorist_injured,number_of_motorist_killed,contributing_factor_vehicle_1,contributing_factor_vehicle_2,contributing_factor_vehicle_3,contributing_factor_vehicle_4,contributing_factor_vehicle_5,collision_id,vehicle_type_code1,vehicle_type_code2,vehicle_type_code_3,vehicle_type_code_4,vehicle_type_code_5
0,2019-09-25T00:00:00.000,8:00,NaN,NaN,40.746105,-73.727554,POINT (-73.727554 40.746105),NaN,NaN,73-10 COMMONWEALTH BOULEVARD,0.0,0.0,0,0,0,0,0,0,Reaction to Uninvolved Vehicle,Unspecified,NaN,NaN,NaN,4212306,Station Wagon/Sport Utility Vehicle,Station Wagon/Sport Utility Vehicle,NaN,NaN,NaN
2,2019-09-27T00:00:00.000,17:20,MANHATTAN,10003,40.725445,-73.987620,POINT (-73.98762 40.725445),NaN,NaN,133 EAST 4 STREET,1.0,0.0,0,0,1,0,0,0,Passenger Distraction,Other Vehicular,NaN,NaN,NaN,4215053,Taxi,Bike,NaN,NaN,NaN
3,2019-09-05T00:00:00.000,18:40,BROOKLYN,11238,40.688324,-73.958244,POINT (-73.958244 40.688324),NaN,NaN,160 CLIFTON PLACE,0.0,0.0,0,0,0,0,0,0,Unspecified,NaN,NaN,NaN,NaN,4203025,Station Wagon/Sport Utility Vehicle,NaN,NaN,NaN,NaN
4,2019-09-27T00:00:00.000,7:30,QUEENS,11385,40.709850,-73.917145,POINT (-73.917145 40.70985),ONDERDONK AVENUE,WILLOUGHBY AVENUE,NaN,0.0,0.0,0,0,0,0,0,0,Driver Inattention/Distraction,Unspecified,NaN,NaN,NaN,4214315,Sedan,Sedan,NaN,NaN,NaN
5,2019-09-28T00:00:00.000,19:50,NaN,NaN,NaN,NaN,NaN,VERRAZANO BRIDGE UPPER,NaN,NaN,0.0,0.0,0,0,0,0,0,0,Following Too Closely,Unspecified,NaN,NaN,NaN,4215379,Sedan,Sedan,NaN,NaN,NaN
6,2019-09-11T00:00:00.000,9:30,BROOKLYN,11221,40.688393,-73.913790,POINT (-73.91379 40.688393),NaN,NaN,93 WEIRFIELD STREET,0.0,0.0,0,0,0,0,0,0,Unspecified,NaN,NaN,NaN,NaN,4207295,Sedan,NaN,NaN,NaN,NaN
8,2019-09-19T00:00:00.000,12:30,NaN,NaN,40.840225,-73.917690,POINT (-73.91769 40.840225),JEROME AVENUE,NaN,NaN,1.0,0.0,1,0,0,0,0,0,Passing Too Closely,NaN,NaN,NaN,NaN,4210066,Station Wagon/Sport Utility Vehicle,NaN,NaN,NaN,NaN
9,2019-09-19T00:00:00.000,7:50,NaN,NaN,40.757650,-73.825195,POINT (-73.825195 40.75765),SANFORD AVENUE,NaN,NaN,1.0,0.0,1,0,0,0,0,0,Passing or Lane Usage Improper,NaN,NaN,NaN,NaN,4208978,Station Wagon/Sport Utility Vehicle,NaN,NaN,NaN,NaN
10,2019-09-16T00:00:00.000,15:55,NaN,NaN,40.677277,-73.926600,POINT (-73.9266 40.677277),ATLANTIC AVENUE,NaN,NaN,1.0,0.0,0,0,1,0,0,0,Driver Inattention/Distraction,Unspecified,NaN,NaN,NaN,4206992,Sedan,Bike,NaN,NaN,NaN
11,2019-09-19T00:00:00.000,18:50,NaN,NaN,NaN,NaN,NaN,WHITESTONE EXPRESSWAY,NaN,NaN,0.0,0.0,0,0,0,0,0,0,Glare,Unspecified,NaN,NaN,NaN,4209076,Sedan,Station Wagon/Sport Utility Vehicle,NaN,NaN,NaN
12,2019-09-03T00:00:00.000,13:34,BROOKLYN,11217,NaN,NaN,NaN,NaN,NaN,123 FLATBUSH AVENUE,0.0,0.0,0,0,0,0,0,0,Reaction to Uninvolved Vehicle,Unspecified,NaN,NaN,NaN,4200796,Station Wagon/Sport Utility Vehicle,Sedan,NaN,NaN,NaN
13,2019-09-12T00:00:00.000,19:21,STATEN ISLAND,10310,40.634567,-74.117200,POINT (-74.1172 40.634567),CASTLETON AVENUE,BROADWAY,NaN,0.0,0.0,0,0,0,0,0,0,Unspecified,Unspecified,NaN,NaN,NaN,4204784,Sedan,NaN,NaN,NaN,NaN
14,2019-09-09T00:00:00.000,21:30,NaN,NaN,40.671085,-73.736275,POINT (-73.736275 40.671085),LAURELTON PARKWAY,NaN,NaN,0.0,0.0,0,0,0,0,0,0,Following Too Closely,Unspecified,NaN,NaN,NaN,4202735,Station Wagon/Sport Utility Vehicle,Station Wagon/Sport Utility Vehicle,NaN,NaN,NaN
15,2019-09-07T00:00:00.000,4:00,BROOKLYN,11249,40.711006,-73.965380,POINT (-73.96538 40.711006),BERRY STREET,SOUTH 6 STREET,NaN,0.0,0.0,0,0,0,0,0,0,Failure to Yield Right-of-Way,Unspecified,NaN,NaN,NaN,4202401,Station Wagon/Sport Utility Vehicle,Sedan,NaN,NaN,NaN
16,2019-09-25T00:00:00.000,8:30,QUEENS,11426,40.742367,-73.722000,POINT (-73.722 40.742367),UNION TURNPIKE,248 STREET,NaN,0.0,0.0,0,0,0,0,0,0,Driver Inattention/Distraction,Unspecified,NaN,NaN,NaN,4212322,Station Wagon/Sport Utility Vehicle,Sedan,NaN,NaN,NaN
17,2019-09-15T00:00:00.000,17:14,BROOKLYN,11204,40.622612,-73.986670,POINT (-73.98667 40.622612),59 STREET,18 AVENUE,NaN,0.0,0.0,0,0,0,0,0,0,Passing Too Closely,Unspecified,NaN,NaN,NaN,4207862,Taxi,NaN,NaN,NaN,NaN
18,2019-09-23T00:00:00.000,13:40,MANHATTAN,10036,40.757000,-73.979380,POINT (-73.97938 40.757),NaN,NaN,15 WEST 47 STREET,0.0,0.0,0,0,0,0,0,0,Passing or Lane Usage Improper,Driver Inattention/Distraction,NaN,NaN,NaN,4211398,Taxi,Pick-up Truck,NaN,NaN,NaN
19,2019-09-05T00:00:00.000,11:15,BROOKLYN,11206,40.701210,-73.944850,POINT (-73.94485 40.70121),NaN,NaN,41 WHIPPLE STREET,2.0,0.0,0,0,0,0,2,0,Other Vehicular,Alcohol Involvement,NaN,NaN,NaN,4200585,Sedan,Sedan,NaN,NaN,NaN
20,2019-09-19T00:00:00.000,14:00,NaN,NaN,40.709210,-73.870170,POINT (-73.87017 40.70921),80 STREET,COOPER AVENUE,NaN,0.0,0.0,0,0,0,0,0,0,Unspecified,Unspecified,NaN,NaN,NaN,4209235,Sedan,Sedan,NaN,NaN,NaN
21,2019-09-26T00:00:00.000,17:41,STATEN ISLAND,10301,40.631720,-74.095924,POINT (-74.095924 40.63172),FOREST AVENUE,HAVENWOOD ROAD,NaN,1.0,0.0,1,0,0,0,0,0,Driver Inattention/Distraction,NaN,NaN,NaN,NaN,4215029,Sedan,NaN,NaN,NaN,NaN
22,2019-09-25T00:00:00.000,10:00,NaN,NaN,40.714440,-73.831270,POINT (-73.83127 40.71444),UNION TURNPIKE,QUEENS BOULEVARD,NaN,0.0,0.0,0,0,0,0,0,0,Unspecified,Unspecified,NaN,NaN,NaN,4212731,Station Wagon/Sport Utility Vehicle,Sedan,NaN,NaN,NaN
23,2019-09-02T00:00:00.000,20:45,MANHATTAN,10017,40.752170,-73.977780,POINT (-73.97778 40.75217),NaN,NaN,89 EAST 42 STREET,0.0,0.0,0,0,0,0,0,0,Unspecified,Unspecified,NaN,NaN,NaN,4201655,Taxi,Sedan,NaN,NaN,NaN
24,2019-09-19T00:00:00.000,15:45,NaN,NaN,40.795963,-73.970840,POINT (-73.97084 40.795963),BROADWAY,NaN,NaN,0.0,0.0,0,0,0,0,0,0,Driver Inattention/Distraction,Unspecified,NaN,NaN,NaN,4209193,Taxi,Taxi,NaN,NaN,NaN
25,2019-09-19T00:00:00.000,19:50,BROOKLYN,11222,40.731483,-73.955780,POINT (-73.95578 40.731483),NaN,NaN,134 JAVA STREET,0.0,0.0,0,0,0,0,0,0,Failure to Yield Right-of-Way,Unspecified,NaN,NaN,NaN,4210091,Sedan,Station Wagon/Sport Utility Vehicle,NaN,NaN,NaN
26,2019-11-24T00:00:00.000,0:00,BRONX,10475,NaN,NaN,NaN,NaN,NaN,691 COOP CITY BOULEVARD,0.0,0.0,0,0,0,0,0,0,Unspecified,Unspecified,NaN,NaN,NaN,4246776,Station Wagon/Sport Utility Vehicle,Sedan,NaN,NaN,NaN
27,2019-09-26T00:00:00.000,10:45,NaN,NaN,40.691460,-73.885470,POINT (-73.88547 40.69146),JACKIE ROBINSON PKWY,NaN,NaN,0.0,0.0,0,0,0,0,0,0,Driver Inattention/Distraction,Unspecified,NaN,NaN,NaN,4213484,Station Wagon/Sport Utility Vehicle,Sedan,NaN,NaN,NaN
29,2019-09-24T00:00:00.000,8:45,BROOKLYN,11226,40.643425,-73.945880,POINT (-73.94588 40.643425),NEW YORK AVENUE,CLARENDON ROAD,NaN,1.0,0.0,1,0,0,0,0,0,Glare,NaN,NaN,NaN,NaN,4212283,Station Wagon/Sport Utility Vehicle,NaN,NaN,NaN,NaN
30,2019-09-16T00:00:00.000,14:30,NaN,NaN,40.712833,-73.827410,POINT (-73.82741 40.712833),QUEENS BOULEVARD,NaN,NaN,0.0,0.0,0,0,0,0,0,0,Failure to Yield Right-of-Way,Unspecified,NaN,NaN,NaN,4207059,Station Wagon/Sport Utility Vehicle,Station Wagon/Sport Utility Vehicle,NaN,NaN,NaN
31,2019-09-03T00:00:00.000,10:10,BROOKLYN,11209,40.622684,-74.025420,POINT (-74.02542 40.622684),NaN,NaN,8413 5 AVENUE,0.0,0.0,0,0,0,0,0,0,Unspecified,Unspecified,NaN,NaN,NaN,4198925,Sedan,Sedan,NaN,NaN,NaN
32,2019-09-12T00:00:00.000,21:30,MANHATTAN,10002,40.721756,-73.987520,POINT (-73.98752 40.721756),NaN,NaN,171 LUDLOW STREET,0.0,0.0,0,0,0,0,0,0,Passing Too Closely,Unspecified,NaN,NaN,NaN,4204723,Sedan,Box Truck,NaN,NaN,NaN
33,2019-09-13T00:00:00.000,16:45,NaN,NaN,40.751420,-73.987656,POINT (-73.987656 40.75142),BROADWAY,NaN,NaN,0.0,0.0,0,0,0,0,0,0,Reaction to Uninvolved Vehicle,Driver Inattention/Distraction,NaN,NaN,NaN,4220571,Box Truck,Taxi,NaN,NaN,NaN
34,2019-09-24T00:00:00.000,19:40,BRONX,10453,40.846893,-73.920550,POINT (-73.92055 40.846893),UNIVERSITY AVENUE,WEST 174 STREET,NaN,0.0,0.0,0,0,0,0,0,0,Driver Inattention/Distraction,Unspecified,NaN,NaN,NaN,4212776,Station Wagon/Sport Utility Vehicle,Sedan,NaN,NaN,NaN
35,2019-09-06T00:00:00.000,11:00,QUEENS,11418,40.694330,-73.826970,POINT (-73.82697 40.69433),ATLANTIC AVENUE,120 STREET,NaN,0.0,0.0,0,0,0,0,0,0,Driver Inattention/Distraction,Unspecified,NaN,NaN,NaN,4201899,Station Wagon/Sport Utility Vehicle,Box Truck,NaN,NaN,NaN
36,2019-09-02T00:00:00.000,22:30,BROOKLYN,11225,40.661915,-73.944916,POINT (-73.944916 40.661915),NaN,NaN,532 EAST NEW YORK AVENUE,0.0,0.0,0,0,0,0,0,0,Unspecified,NaN,NaN,NaN,NaN,4202934,Station Wagon/Sport Utility Vehicle,NaN,NaN,NaN,NaN
37,2019-09-18T00:00:00.000,15:15,BROOKLYN,11226,40.640583,-73.955730,POINT (-73.95573 40.640583),DITMAS AVENUE,FLATBUSH AVENUE,NaN,0.0,0.0,0,0,0,0,0,0,Unspecified,Unspecified,NaN,NaN,NaN,4208651,Sedan,Sedan,NaN,NaN,NaN
38,2019-09-06T00:00:00.000,16:30,MANHATTAN,10017,40.753320,-73.972595,POINT (-73.972595 40.75332),3 AVENUE,EAST 46 STREET,NaN,0.0,0.0,0,0,0,0,0,0,Unsafe Lane Changing,Unspecified,NaN,NaN,NaN,4200898,Taxi,Station Wagon/Sport Utility Vehicle,NaN,NaN,NaN
39,2019-09-22T00:00:00.000,20:15,NaN,NaN,40.784992,-73.982610,POINT (-73.98261 40.784992),WEST 79 STREET,NaN,NaN,0.0,0.0,0,0,0,0,0,0,Driver Inattention/Distraction,Driver Inattention/Distraction,NaN,NaN,NaN,4210558,Sedan,Sedan,NaN,NaN,NaN
40,2019-09-10T00:00:00.000,11:48,QUEENS,11105,40.776130,-73.910706,POINT (-73.910706 40.77613),31 STREET,DITMARS BOULEVARD,NaN,0.0,0.0,0,0,0,0,0,0,Backing Unsafely,Unspecified,NaN,NaN,NaN,4203259,Station Wagon/Sport Utility Vehicle,Station Wagon/Sport Utility Vehicle,NaN,NaN,NaN
41,2019-09-21T00:00:00.000,14:30,NaN,NaN,40.546530,-74.180435,POINT (-74.180435 40.54653),ARDEN AVENUE,NaN,NaN,0.0,0.0,0,0,0,0,0,0,Passing or Lane Usage Improper,Unspecified,NaN,NaN,NaN,4210092,Sedan,Station Wagon/Sport Utility Vehicle,NaN,NaN,NaN
42,2019-09-02T00:00:00.000,16:15,QUEENS,11422,40.665558,-73.729850,POINT (-73.72985 40.665558),SUNRISE HIGHWAY,HOOK CREEK BOULEVARD,NaN,0.0,0.0,0,0,0,0,0,0,Unspecified,Unspecified,NaN,NaN,NaN,4198495,Station Wagon/Sport Utility Vehicle,Sedan,NaN,NaN,NaN
43,2019-09-26T00:00:00.000,8:45,NaN,NaN,40.757355,-73.738870,POINT (-73.73887 40.757355),LONG ISLAND EXPRESSWAY,NaN,NaN,0.0,0.0,0,0,0,0,0,0,Following Too Closely,Unspecified,NaN,NaN,NaN,4212879,Station Wagon/Sport Utility Vehicle,Convertible,NaN,NaN,NaN
44,2019-09-14T00:00:00.000,18:56,BRONX,10472,40.831640,-73.876076,POINT (-73.876076 40.83164),STRATFORD AVENUE,EAST 172 STREET,NaN,0.0,0.0,0,0,0,0,0,0,Unspecified,Unspecified,NaN,NaN,NaN,4205598,Taxi,Taxi,NaN,NaN,NaN
45,2019-09-26T00:00:00.000,6:20,BROOKLYN,11249,40.699482,-73.961040,POINT (-73.96104 40.699482),KENT AVENUE,RUTLEDGE STREET,NaN,0.0,0.0,0,0,0,0,0,0,Driver Inattention/Distraction,Turning Improperly,NaN,NaN,NaN,4213330,Sedan,Box Truck,NaN,NaN,NaN
46,2019-09-21T00:00:00.000,14:48,STATEN ISLAND,10305,40.611340,-74.072716,POINT (-74.072716 40.61134),NaN,NaN,50 FOX HILL TERRACE,0.0,0.0,0,0,0,0,0,0,Driver Inattention/Distraction,Unspecified,NaN,NaN,NaN,4211997,Sedan,NaN,NaN,NaN,NaN
47,2019-09-24T00:00:00.000,15:20,QUEENS,11433,NaN,NaN,NaN,jamaica avenue,175 street,NaN,1.0,0.0,0,0,0,0,1,0,Driver Inattention/Distraction,Unspecified,NaN,NaN,NaN,4220075,Sedan,Sedan,NaN,NaN,NaN
48,2019-09-13T00:00:00.000,12:15,BROOKLYN,11206,40.702713,-73.937325,POINT (-73.937325 40.702713),BUSHWICK AVENUE,COOK STREET,NaN,0.0,0.0,0,0,0,0,0,0,Following Too Closely,Unspecified,NaN,NaN,NaN,4205969,Sedan,MOPED,NaN,NaN,NaN
49,2019-09-03T00:00:00.000,17:30,BROOKLYN,11220,40.635320,-74.023240,POINT (-74.02324 40.63532),68 STREET,4 AVENUE,NaN,2.0,0.0,0,0,0,0,2,0,Driver Inattention/Distraction,Unspecified,NaN,NaN,NaN,4199167,Station Wagon/Sport Utility Vehicle,Station Wagon/Sport Utility Vehicle,NaN,NaN,NaN
50,2019-09-13T00:00:00.000,7:25,BRONX,10454,40.806164,-73.909134,POINT (-73.909134 40.806164),EAST 141 STREET,BRUCKNER BOULEVARD,NaN,1.0,0.0,0,0,0,0,1,0,Unspecified,Unspecified,NaN,NaN,NaN,4204868,Sedan,Sedan,NaN,NaN,NaN
51,2019-09-27T00:00:00.000,22:38,BROOKLYN,11208,40.688570,-73.875700,POINT (-73.8757 40.68857),JAMAICA AVENUE,CYPRESS HILL STREET,NaN,1.0,0.0,0,0,0,0,1,0,Driver Inattention/Distraction,Unspecified,NaN,NaN,NaN,4214477,Station Wagon/Sport Utility Vehicle,Station Wagon/Sport Utility Vehicle,NaN,NaN,NaN
52,2019-04-14T00:00:00.000,5:30,BRONX,10459,40.820305,-73.890830,POINT (-73.89083 40.820305),BRUCKNER BOULEVARD,HUNTS POINT AVENUE,NaN,0.0,0.0,0,0,0,0,0,0,Unspecified,Unspecified,NaN,NaN,NaN,4114310,Sedan,Sedan,NaN,NaN,NaN

In [7]:
MVC.dropna()
MVC

,accident_date,accident_time,borough,zip_code,latitude,longitude,location,on_street_name,off_street_name,cross_street_name,number_of_persons_injured,number_of_persons_killed,number_of_pedestrians_injured,number_of_pedestrians_killed,number_of_cyclist_injured,number_of_cyclist_killed,number_of_motorist_injured,number_of_motorist_killed,contributing_factor_vehicle_1,contributing_factor_vehicle_2,contributing_factor_vehicle_3,contributing_factor_vehicle_4,contributing_factor_vehicle_5,collision_id,vehicle_type_code1,vehicle_type_code2,vehicle_type_code_3,vehicle_type_code_4,vehicle_type_code_5
0,2019-09-25T00:00:00.000,8:00,NaN,NaN,40.746105,-73.727554,POINT (-73.727554 40.746105),NaN,NaN,73-10 COMMONWEALTH BOULEVARD,0.0,0.0,0,0,0,0,0,0,Reaction to Uninvolved Vehicle,Unspecified,NaN,NaN,NaN,4212306,Station Wagon/Sport Utility Vehicle,Station Wagon/Sport Utility Vehicle,NaN,NaN,NaN
1,2019-09-14T00:00:00.000,18:05,QUEENS,11360,40.776090,-73.772350,POINT (-73.77235 40.77609),29 AVENUE,215 STREET,NaN,0.0,0.0,0,0,0,0,0,0,Unsafe Speed,Failure to Yield Right-of-Way,Unspecified,NaN,NaN,4206157,Sedan,Station Wagon/Sport Utility Vehicle,Sedan,NaN,NaN
2,2019-09-27T00:00:00.000,17:20,MANHATTAN,10003,40.725445,-73.987620,POINT (-73.98762 40.725445),NaN,NaN,133 EAST 4 STREET,1.0,0.0,0,0,1,0,0,0,Passenger Distraction,Other Vehicular,NaN,NaN,NaN,4215053,Taxi,Bike,NaN,NaN,NaN
3,2019-09-05T00:00:00.000,18:40,BROOKLYN,11238,40.688324,-73.958244,POINT (-73.958244 40.688324),NaN,NaN,160 CLIFTON PLACE,0.0,0.0,0,0,0,0,0,0,Unspecified,NaN,NaN,NaN,NaN,4203025,Station Wagon/Sport Utility Vehicle,NaN,NaN,NaN,NaN
4,2019-09-27T00:00:00.000,7:30,QUEENS,11385,40.709850,-73.917145,POINT (-73.917145 40.70985),ONDERDONK AVENUE,WILLOUGHBY AVENUE,NaN,0.0,0.0,0,0,0,0,0,0,Driver Inattention/Distraction,Unspecified,NaN,NaN,NaN,4214315,Sedan,Sedan,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1610962,2013-03-26T00:00:00.000,8:55,MANHATTAN,10003,40.735433,-73.982694,POINT (-73.9826943 40.7354326),EAST 19 STREET,2 AVENUE,NaN,0.0,0.0,0,0,0,0,0,0,Driver Inattention/Distraction,Prescription Medication,NaN,NaN,NaN,23521,PASSENGER VEHICLE,LARGE COM VEH(6 OR MORE TIRES),NaN,NaN,NaN
1610963,2013-03-13T00:00:00.000,13:10,BROOKLYN,11225,40.666288,-73.950836,POINT (-73.9508365 40.6662883),NOSTRAND AVENUE,CROWN STREET,NaN,0.0,0.0,0,0,0,0,0,0,Failure to Yield Right-of-Way,Unspecified,NaN,NaN,NaN,153733,PASSENGER VEHICLE,SPORT UTILITY / STATION WAGON,NaN,NaN,NaN
1610964,2013-03-13T00:00:00.000,11:00,NaN,NaN,NaN,NaN,NaN,206 STREET,48 AVENUE,NaN,0.0,0.0,0,0,0,0,0,0,Unspecified,Unspecified,NaN,NaN,NaN,261259,SPORT UTILITY / STATION WAGON,LARGE COM VEH(6 OR MORE TIRES),NaN,NaN,NaN
1610965,2013-03-22T00:00:00.000,18:25,MANHATTAN,10013,40.725026,-74.005895,POINT (-74.0058952 40.7250257),VARICK STREET,DOMINICK STREET,NaN,0.0,0.0,0,0,0,0,0,0,Unspecified,Unspecified,NaN,NaN,NaN,2181,PASSENGER VEHICLE,SPORT UTILITY / STATION WAGON,NaN,NaN,NaN
1610966,2013-03-16T00:00:00.000,21:41,MANHATTAN,10128,40.778806,-73.947966,POINT (-73.9479659 40.7788056),EAST 89 STREET,1 AVENUE,NaN,0.0,0.0,0,0,0,0,0,0,Other Vehicular,Other Vehicular,NaN,NaN,NaN,47874,SPORT UTILITY / STATION WAGON,SPORT UTILITY / STATION WAGON,NaN,NaN,NaN

In [8]:
MVC2 = MVC.drop(['contributing_factor_vehicle_3', 'contributing_factor_vehicle_4', 'contributing_factor_vehicle_5'],axis=1)
MVC2

,accident_date,accident_time,borough,zip_code,latitude,longitude,location,on_street_name,off_street_name,cross_street_name,number_of_persons_injured,number_of_persons_killed,number_of_pedestrians_injured,number_of_pedestrians_killed,number_of_cyclist_injured,number_of_cyclist_killed,number_of_motorist_injured,number_of_motorist_killed,contributing_factor_vehicle_1,contributing_factor_vehicle_2,collision_id,vehicle_type_code1,vehicle_type_code2,vehicle_type_code_3,vehicle_type_code_4,vehicle_type_code_5
0,2019-09-25T00:00:00.000,8:00,NaN,NaN,40.746105,-73.727554,POINT (-73.727554 40.746105),NaN,NaN,73-10 COMMONWEALTH BOULEVARD,0.0,0.0,0,0,0,0,0,0,Reaction to Uninvolved Vehicle,Unspecified,4212306,Station Wagon/Sport Utility Vehicle,Station Wagon/Sport Utility Vehicle,NaN,NaN,NaN
1,2019-09-14T00:00:00.000,18:05,QUEENS,11360,40.776090,-73.772350,POINT (-73.77235 40.77609),29 AVENUE,215 STREET,NaN,0.0,0.0,0,0,0,0,0,0,Unsafe Speed,Failure to Yield Right-of-Way,4206157,Sedan,Station Wagon/Sport Utility Vehicle,Sedan,NaN,NaN
2,2019-09-27T00:00:00.000,17:20,MANHATTAN,10003,40.725445,-73.987620,POINT (-73.98762 40.725445),NaN,NaN,133 EAST 4 STREET,1.0,0.0,0,0,1,0,0,0,Passenger Distraction,Other Vehicular,4215053,Taxi,Bike,NaN,NaN,NaN
3,2019-09-05T00:00:00.000,18:40,BROOKLYN,11238,40.688324,-73.958244,POINT (-73.958244 40.688324),NaN,NaN,160 CLIFTON PLACE,0.0,0.0,0,0,0,0,0,0,Unspecified,NaN,4203025,Station Wagon/Sport Utility Vehicle,NaN,NaN,NaN,NaN
4,2019-09-27T00:00:00.000,7:30,QUEENS,11385,40.709850,-73.917145,POINT (-73.917145 40.70985),ONDERDONK AVENUE,WILLOUGHBY AVENUE,NaN,0.0,0.0,0,0,0,0,0,0,Driver Inattention/Distraction,Unspecified,4214315,Sedan,Sedan,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1610962,2013-03-26T00:00:00.000,8:55,MANHATTAN,10003,40.735433,-73.982694,POINT (-73.9826943 40.7354326),EAST 19 STREET,2 AVENUE,NaN,0.0,0.0,0,0,0,0,0,0,Driver Inattention/Distraction,Prescription Medication,23521,PASSENGER VEHICLE,LARGE COM VEH(6 OR MORE TIRES),NaN,NaN,NaN
1610963,2013-03-13T00:00:00.000,13:10,BROOKLYN,11225,40.666288,-73.950836,POINT (-73.9508365 40.6662883),NOSTRAND AVENUE,CROWN STREET,NaN,0.0,0.0,0,0,0,0,0,0,Failure to Yield Right-of-Way,Unspecified,153733,PASSENGER VEHICLE,SPORT UTILITY / STATION WAGON,NaN,NaN,NaN
1610964,2013-03-13T00:00:00.000,11:00,NaN,NaN,NaN,NaN,NaN,206 STREET,48 AVENUE,NaN,0.0,0.0,0,0,0,0,0,0,Unspecified,Unspecified,261259,SPORT UTILITY / STATION WAGON,LARGE COM VEH(6 OR MORE TIRES),NaN,NaN,NaN
1610965,2013-03-22T00:00:00.000,18:25,MANHATTAN,10013,40.725026,-74.005895,POINT (-74.0058952 40.7250257),VARICK STREET,DOMINICK STREET,NaN,0.0,0.0,0,0,0,0,0,0,Unspecified,Unspecified,2181,PASSENGER VEHICLE,SPORT UTILITY / STATION WAGON,NaN,NaN,NaN
1610966,2013-03-16T00:00:00.000,21:41,MANHATTAN,10128,40.778806,-73.947966,POINT (-73.9479659 40.7788056),EAST 89 STREET,1 AVENUE,NaN,0.0,0.0,0,0,0,0,0,0,Other Vehicular,Other Vehicular,47874,SPORT UTILITY / STATION WAGON,SPORT UTILITY / STATION WAGON,NaN,NaN,NaN

Now that I have dropped some columns, I would like to group by borough and number of persons killed in the crash to see which boroughs have higher numbers of persons killed.

In [9]:
MVC1 = MVC2.groupby(['borough','number_of_persons_killed'])
MVC1.first()

                                                  accident_date accident_time  \
borough       number_of_persons_killed
BRONX         0.0                       2019-11-24T00:00:00.000          0:00
              1.0                       2019-09-17T00:00:00.000         15:56
              2.0                       2015-03-20T00:00:00.000         18:34
BROOKLYN      0.0                       2019-09-05T00:00:00.000         18:40
              1.0                       2019-09-15T00:00:00.000          5:30
              2.0                       2019-06-08T00:00:00.000          0:07
              3.0                       2013-01-05T00:00:00.000          2:08
MANHATTAN     0.0                       2019-09-27T00:00:00.000         17:20
              1.0                       2018-11-15T00:00:00.000         11:32
              8.0                       2017-10-31T00:00:00.000         15:08
QUEENS        0.0                       2019-09-14T00:00:00.000         18:05
              1.0                       2019-09-10T00:00:00.000          1:14
              2.0                       2017-06-17T00:00:00.000          0:55
              3.0                       2015-07-01T00:00:00.000         18:06
              4.0                       2017-09-18T00:00:00.000          6:17
              5.0                       2012-07-22T00:00:00.000          3:20
STATEN ISLAND 0.0                       2019-09-12T00:00:00.000         19:21
              1.0                       2019-07-23T00:00:00.000         12:00
              2.0                       2015-10-05T00:00:00.000         23:00

                                       zip_code   latitude  longitude  \
borough       number_of_persons_killed
BRONX         0.0                         10475  40.846893 -73.920550
              1.0                         10467  40.880650 -73.864940
              2.0                         10456  40.838722 -73.913771
BROOKLYN      0.0                         11238  40.688324 -73.958244
              1.0                         11213  40.673706 -73.938990
              2.0                         11234  40.608204 -73.920715
              3.0                         11223  40.597682 -73.966850
MANHATTAN     0.0                         10003  40.725445 -73.987620
              1.0                         10002  40.715034 -73.996810
              8.0                         10014  40.729046 -74.010730
QUEENS        0.0                         11360  40.776090 -73.772350
              1.0                         11420  40.682250 -73.815170
              2.0                         11423  40.711840 -73.754090
              3.0                         11364  40.744509 -73.766099
              4.0                         11354  40.762978 -73.831980
              5.0                         11418  40.697204 -73.813334
STATEN ISLAND 0.0                         10310  40.634567 -74.117200
              1.0                         10310  40.633858 -74.125960
              2.0                         10312  40.529374 -74.161351

                                                              location  \
borough       number_of_persons_killed
BRONX         0.0                          POINT (-73.92055 40.846893)
              1.0                           POINT (-73.86494 40.88065)
              2.0                       POINT (-73.9137706 40.8387216)
BROOKLYN      0.0                         POINT (-73.958244 40.688324)
              1.0                          POINT (-73.93899 40.673706)
              2.0                         POINT (-73.920715 40.608204)
              3.0                       POINT (-73.9668499 40.5976825)
MANHATTAN     0.0                          POINT (-73.98762 40.725445)
              1.0                          POINT (-73.99681 40.715034)
              8.0                          POINT (-74.01073 40.729046)
QUEENS        0.0                           POINT (-73.77235 40.77609)
              1.0                           POINT (-73.81517 40.68225)
              2.0                           POINT (-73.75409 40.71184)
              3.0                       POINT (-73.7660986 40.7445094)
              4.0                          POINT (-73.83198 40.762978)
              5.0                       POINT (-73.8133341 40.6972045)
STATEN ISLAND 0.0                           POINT (-74.1172 40.634567)
              1.0                          POINT (-74.12596 40.633858)
              2.0                       POINT (-74.1613509 40.5293737)

                                                          on_street_name  \
borough       number_of_persons_killed
BRONX         0.0                       UNIVERSITY AVENUE
              1.0                       WHITE PLAINS ROAD
              2.0                       GRAND CONCOURSE
BROOKLYN      0.0                       BERRY STREET
              1.0                       ALBANY AVENUE
              2.0                       FLATBUSH AVENUE
              3.0                       AVENUE U
MANHATTAN     0.0                       3 AVENUE
              1.0                       BOWERY
              8.0                       WEST STREET
QUEENS        0.0                       29 AVENUE
              1.0                       111 AVENUE
              2.0                       100 AVENUE
              3.0                       210 STREET
              4.0                       NORTHERN BOULEVARD
              5.0                       94 AVENUE
STATEN ISLAND 0.0                       CASTLETON AVENUE
              1.0                       CLOVE ROAD
              2.0                       HYLAN BOULEVARD

                                                         off_street_name  \
borough       number_of_persons_killed
BRONX         0.0                                        WEST 174 STREET
              1.0                                        EAST 215 STREET
              2.0                       EAST 170 STREET
BROOKLYN      0.0                                         SOUTH 6 STREET
              1.0                                         PROSPECT PLACE
              2.0                                               AVENUE V
              3.0                       EAST 5 STREET
MANHATTAN     0.0                                         EAST 46 STREET
              1.0                                          BAYARD STREET
              8.0                                    WEST HOUSTON STREET
QUEENS        0.0                                             215 STREET
              1.0                                             126 STREET
              2.0                                              205 PLACE
              3.0                       64 AVENUE
              4.0                                            MAIN STREET
              5.0                       VAN WYCK EXPRESSWAY
STATEN ISLAND 0.0                                               BROADWAY
              1.0                                       CASTLETON AVENUE
              2.0                       ARDEN AVENUE

                                                               cross_street_name  \
borough       number_of_persons_killed
BRONX         0.0                       691       COOP CITY BOULEVARD
              1.0                       530       ELLSWORTH AVENUE
              2.0                                                            NaN
BROOKLYN      0.0                       160       CLIFTON PLACE
              1.0                       805       BROADWAY
              2.0                                                            NaN
              3.0                                                            NaN
MANHATTAN     0.0                       133       EAST 4 STREET
              1.0                       30        EAST 20 STREET
              8.0                                                            NaN
QUEENS        0.0                       678       CEDAR LAWN AVENUE
              1.0                       60-90     ELIOT AVENUE
              2.0                                                            NaN
              3.0                                                            NaN
              4.0                                                            NaN
              5.0                                                            NaN
STATEN ISLAND 0.0                       50        FOX HILL TERRACE
              1.0                       4143      RICHMOND AVENUE
              2.0                                                            NaN

                                        number_of_persons_injured  \
borough       number_of_persons_killed
BRONX         0.0                                             0.0
              1.0                                             1.0
              2.0                                             1.0
BROOKLYN      0.0                                             0.0
              1.0                                             0.0
              2.0                                             0.0
              3.0                                             3.0
MANHATTAN     0.0                                             1.0
              1.0                                             0.0
              8.0                                            12.0
QUEENS        0.0                                             0.0
              1.0                                             1.0
              2.0                                             1.0
              3.0                                             3.0
              4.0                                            15.0
              5.0                                             3.0
STATEN ISLAND 0.0                                             0.0
              1.0                                             0.0
              2.0                                             0.0

                                        number_of_pedestrians_injured  \
borough       number_of_persons_killed
BRONX         0.0                                                   0
              1.0                                                   0
              2.0                                                   1
BROOKLYN      0.0                                                   0
              1.0                                                   0
              2.0                                                   0
              3.0                                                   0
MANHATTAN     0.0                                                   0
              1.0                                                   0
              8.0                                                   7
QUEENS        0.0                                                   0
              1.0                                                   0
              2.0                                                   0
              3.0                                                   0
              4.0                                                   3
              5.0                                                   0
STATEN ISLAND 0.0                                                   0
              1.0                                                   0
              2.0                                                   0

                                        number_of_pedestrians_killed  \
borough       number_of_persons_killed
BRONX         0.0                                                  0
              1.0                                                  1
              2.0                                                  2
BROOKLYN      0.0                                                  0
              1.0                                                  1
              2.0                                                  0
              3.0                                                  0
MANHATTAN     0.0                                                  0
              1.0                                                  1
              8.0                                                  6
QUEENS        0.0                                                  0
              1.0                                                  0
              2.0                                                  0
              3.0                                                  0
              4.0                                                  2
              5.0                                                  0
STATEN ISLAND 0.0                                                  0
              1.0                                                  0
              2.0                                                  2

                                        number_of_cyclist_injured  \
borough       number_of_persons_killed
BRONX         0.0                                               0
              1.0                                               0
              2.0                                               0
BROOKLYN      0.0                                               0
              1.0                                               0
              2.0                                               0
              3.0                                               0
MANHATTAN     0.0                                               1
              1.0                                               0
              8.0                                               1
QUEENS        0.0                                               0
              1.0                                               0
              2.0                                               0
              3.0                                               0
              4.0                                               0
              5.0                                               0
STATEN ISLAND 0.0                                               0
              1.0                                               0
              2.0                                               0

                                        number_of_cyclist_killed  \
borough       number_of_persons_killed
BRONX         0.0                                              0
              1.0                                              0
              2.0                                              0
BROOKLYN      0.0                                              0
              1.0                                              0
              2.0                                              0
              3.0                                              0
MANHATTAN     0.0                                              0
              1.0                                              0
              8.0                                              2
QUEENS        0.0                                              0
              1.0                                              0
              2.0                                              0
              3.0                                              0
              4.0                                              0
              5.0                                              0
STATEN ISLAND 0.0                                              0
              1.0                                              1
              2.0                                              0

                                        number_of_motorist_injured  \
borough       number_of_persons_killed
BRONX         0.0                                                0
              1.0                                                1
              2.0                                                0
BROOKLYN      0.0                                                0
              1.0                                                0
              2.0                                                0
              3.0                                                3
MANHATTAN     0.0                                                0
              1.0                                                0
              8.0                                                4
QUEENS        0.0                                                0
              1.0                                                1
              2.0                                                1
              3.0                                                3
              4.0                                               12
              5.0                                                3
STATEN ISLAND 0.0                                                0
              1.0                                                0
              2.0                                                0

                                        number_of_motorist_killed  \
borough       number_of_persons_killed
BRONX         0.0                                               0
              1.0                                               0
              2.0                                               0
BROOKLYN      0.0                                               0
              1.0                                               0
              2.0                                               2
              3.0                                               3
MANHATTAN     0.0                                               0
              1.0                                               0
              8.0                                               0
QUEENS        0.0                                               0
              1.0                                               1
              2.0                                               2
              3.0                                               3
              4.0                                               2
              5.0                                               5
STATEN ISLAND 0.0                                               0
              1.0                                               0
              2.0                                               0

                                         contributing_factor_vehicle_1  \
borough       number_of_persons_killed
BRONX         0.0                                          Unspecified
              1.0                                  Driver Inexperience
              2.0                                Following Too Closely
BROOKLYN      0.0                                          Unspecified
              1.0                                          Unspecified
              2.0                                         Unsafe Speed
              3.0                          Traffic Control Disregarded
MANHATTAN     0.0                                Passenger Distraction
              1.0                       Driver Inattention/Distraction
              8.0                                      Other Vehicular
QUEENS        0.0                                         Unsafe Speed
              1.0                          Traffic Control Disregarded
              2.0                                         Unsafe Speed
              3.0                          Traffic Control Disregarded
              4.0                                         Unsafe Speed
              5.0                          Traffic Control Disregarded
STATEN ISLAND 0.0                                          Unspecified
              1.0                          Traffic Control Disregarded
              2.0                       Driver Inattention/Distraction

                                        contributing_factor_vehicle_2  \
borough       number_of_persons_killed
BRONX         0.0                                         Unspecified
              1.0                                         Unspecified

Look at this same information as the dataframe.

In [10]:
MVC1.head(20)

,accident_date,accident_time,borough,zip_code,latitude,longitude,location,on_street_name,off_street_name,cross_street_name,number_of_persons_injured,number_of_persons_killed,number_of_pedestrians_injured,number_of_pedestrians_killed,number_of_cyclist_injured,number_of_cyclist_killed,number_of_motorist_injured,number_of_motorist_killed,contributing_factor_vehicle_1,contributing_factor_vehicle_2,collision_id,vehicle_type_code1,vehicle_type_code2,vehicle_type_code_3,vehicle_type_code_4,vehicle_type_code_5
0,2019-09-25T00:00:00.000,8:00,NaN,NaN,40.746105,-73.727554,POINT (-73.727554 40.746105),NaN,NaN,73-10 COMMONWEALTH BOULEVARD,0.0,0.0,0,0,0,0,0,0,Reaction to Uninvolved Vehicle,Unspecified,4212306,Station Wagon/Sport Utility Vehicle,Station Wagon/Sport Utility Vehicle,NaN,NaN,NaN
1,2019-09-14T00:00:00.000,18:05,QUEENS,11360,40.776090,-73.772350,POINT (-73.77235 40.77609),29 AVENUE,215 STREET,NaN,0.0,0.0,0,0,0,0,0,0,Unsafe Speed,Failure to Yield Right-of-Way,4206157,Sedan,Station Wagon/Sport Utility Vehicle,Sedan,NaN,NaN
2,2019-09-27T00:00:00.000,17:20,MANHATTAN,10003,40.725445,-73.987620,POINT (-73.98762 40.725445),NaN,NaN,133 EAST 4 STREET,1.0,0.0,0,0,1,0,0,0,Passenger Distraction,Other Vehicular,4215053,Taxi,Bike,NaN,NaN,NaN
3,2019-09-05T00:00:00.000,18:40,BROOKLYN,11238,40.688324,-73.958244,POINT (-73.958244 40.688324),NaN,NaN,160 CLIFTON PLACE,0.0,0.0,0,0,0,0,0,0,Unspecified,NaN,4203025,Station Wagon/Sport Utility Vehicle,NaN,NaN,NaN,NaN
4,2019-09-27T00:00:00.000,7:30,QUEENS,11385,40.709850,-73.917145,POINT (-73.917145 40.70985),ONDERDONK AVENUE,WILLOUGHBY AVENUE,NaN,0.0,0.0,0,0,0,0,0,0,Driver Inattention/Distraction,Unspecified,4214315,Sedan,Sedan,NaN,NaN,NaN
5,2019-09-28T00:00:00.000,19:50,NaN,NaN,NaN,NaN,NaN,VERRAZANO BRIDGE UPPER,NaN,NaN,0.0,0.0,0,0,0,0,0,0,Following Too Closely,Unspecified,4215379,Sedan,Sedan,NaN,NaN,NaN
6,2019-09-11T00:00:00.000,9:30,BROOKLYN,11221,40.688393,-73.913790,POINT (-73.91379 40.688393),NaN,NaN,93 WEIRFIELD STREET,0.0,0.0,0,0,0,0,0,0,Unspecified,NaN,4207295,Sedan,NaN,NaN,NaN,NaN
7,2019-09-02T00:00:00.000,8:25,BROOKLYN,11233,40.682552,-73.923880,POINT (-73.92388 40.682552),NaN,NaN,491 DECATUR STREET,0.0,0.0,0,0,0,0,0,0,Driver Inattention/Distraction,Unspecified,4199154,Sedan,Station Wagon/Sport Utility Vehicle,Station Wagon/Sport Utility Vehicle,Station Wagon/Sport Utility Vehicle,Sedan
8,2019-09-19T00:00:00.000,12:30,NaN,NaN,40.840225,-73.917690,POINT (-73.91769 40.840225),JEROME AVENUE,NaN,NaN,1.0,0.0,1,0,0,0,0,0,Passing Too Closely,NaN,4210066,Station Wagon/Sport Utility Vehicle,NaN,NaN,NaN,NaN
9,2019-09-19T00:00:00.000,7:50,NaN,NaN,40.757650,-73.825195,POINT (-73.825195 40.75765),SANFORD AVENUE,NaN,NaN,1.0,0.0,1,0,0,0,0,0,Passing or Lane Usage Improper,NaN,4208978,Station Wagon/Sport Utility Vehicle,NaN,NaN,NaN,NaN
10,2019-09-16T00:00:00.000,15:55,NaN,NaN,40.677277,-73.926600,POINT (-73.9266 40.677277),ATLANTIC AVENUE,NaN,NaN,1.0,0.0,0,0,1,0,0,0,Driver Inattention/Distraction,Unspecified,4206992,Sedan,Bike,NaN,NaN,NaN
11,2019-09-19T00:00:00.000,18:50,NaN,NaN,NaN,NaN,NaN,WHITESTONE EXPRESSWAY,NaN,NaN,0.0,0.0,0,0,0,0,0,0,Glare,Unspecified,4209076,Sedan,Station Wagon/Sport Utility Vehicle,NaN,NaN,NaN
12,2019-09-03T00:00:00.000,13:34,BROOKLYN,11217,NaN,NaN,NaN,NaN,NaN,123 FLATBUSH AVENUE,0.0,0.0,0,0,0,0,0,0,Reaction to Uninvolved Vehicle,Unspecified,4200796,Station Wagon/Sport Utility Vehicle,Sedan,NaN,NaN,NaN
13,2019-09-12T00:00:00.000,19:21,STATEN ISLAND,10310,40.634567,-74.117200,POINT (-74.1172 40.634567),CASTLETON AVENUE,BROADWAY,NaN,0.0,0.0,0,0,0,0,0,0,Unspecified,Unspecified,4204784,Sedan,NaN,NaN,NaN,NaN
14,2019-09-09T00:00:00.000,21:30,NaN,NaN,40.671085,-73.736275,POINT (-73.736275 40.671085),LAURELTON PARKWAY,NaN,NaN,0.0,0.0,0,0,0,0,0,0,Following Too Closely,Unspecified,4202735,Station Wagon/Sport Utility Vehicle,Station Wagon/Sport Utility Vehicle,NaN,NaN,NaN
15,2019-09-07T00:00:00.000,4:00,BROOKLYN,11249,40.711006,-73.965380,POINT (-73.96538 40.711006),BERRY STREET,SOUTH 6 STREET,NaN,0.0,0.0,0,0,0,0,0,0,Failure to Yield Right-of-Way,Unspecified,4202401,Station Wagon/Sport Utility Vehicle,Sedan,NaN,NaN,NaN
16,2019-09-25T00:00:00.000,8:30,QUEENS,11426,40.742367,-73.722000,POINT (-73.722 40.742367),UNION TURNPIKE,248 STREET,NaN,0.0,0.0,0,0,0,0,0,0,Driver Inattention/Distraction,Unspecified,4212322,Station Wagon/Sport Utility Vehicle,Sedan,NaN,NaN,NaN
17,2019-09-15T00:00:00.000,17:14,BROOKLYN,11204,40.622612,-73.986670,POINT (-73.98667 40.622612),59 STREET,18 AVENUE,NaN,0.0,0.0,0,0,0,0,0,0,Passing Too Closely,Unspecified,4207862,Taxi,NaN,NaN,NaN,NaN
18,2019-09-23T00:00:00.000,13:40,MANHATTAN,10036,40.757000,-73.979380,POINT (-73.97938 40.757),NaN,NaN,15 WEST 47 STREET,0.0,0.0,0,0,0,0,0,0,Passing or Lane Usage Improper,Driver Inattention/Distraction,4211398,Taxi,Pick-up Truck,NaN,NaN,NaN
19,2019-09-05T00:00:00.000,11:15,BROOKLYN,11206,40.701210,-73.944850,POINT (-73.94485 40.70121),NaN,NaN,41 WHIPPLE STREET,2.0,0.0,0,0,0,0,2,0,Other Vehicular,Alcohol Involvement,4200585,Sedan,Sedan,NaN,NaN,NaN
20,2019-09-19T00:00:00.000,14:00,NaN,NaN,40.709210,-73.870170,POINT (-73.87017 40.70921),80 STREET,COOPER AVENUE,NaN,0.0,0.0,0,0,0,0,0,0,Unspecified,Unspecified,4209235,Sedan,Sedan,NaN,NaN,NaN
21,2019-09-26T00:00:00.000,17:41,STATEN ISLAND,10301,40.631720,-74.095924,POINT (-74.095924 40.63172),FOREST AVENUE,HAVENWOOD ROAD,NaN,1.0,0.0,1,0,0,0,0,0,Driver Inattention/Distraction,NaN,4215029,Sedan,NaN,NaN,NaN,NaN
22,2019-09-25T00:00:00.000,10:00,NaN,NaN,40.714440,-73.831270,POINT (-73.83127 40.71444),UNION TURNPIKE,QUEENS BOULEVARD,NaN,0.0,0.0,0,0,0,0,0,0,Unspecified,Unspecified,4212731,Station Wagon/Sport Utility Vehicle,Sedan,NaN,NaN,NaN
23,2019-09-02T00:00:00.000,20:45,MANHATTAN,10017,40.752170,-73.977780,POINT (-73.97778 40.75217),NaN,NaN,89 EAST 42 STREET,0.0,0.0,0,0,0,0,0,0,Unspecified,Unspecified,4201655,Taxi,Sedan,NaN,NaN,NaN
24,2019-09-19T00:00:00.000,15:45,NaN,NaN,40.795963,-73.970840,POINT (-73.97084 40.795963),BROADWAY,NaN,NaN,0.0,0.0,0,0,0,0,0,0,Driver Inattention/Distraction,Unspecified,4209193,Taxi,Taxi,NaN,NaN,NaN
25,2019-09-19T00:00:00.000,19:50,BROOKLYN,11222,40.731483,-73.955780,POINT (-73.95578 40.731483),NaN,NaN,134 JAVA STREET,0.0,0.0,0,0,0,0,0,0,Failure to Yield Right-of-Way,Unspecified,4210091,Sedan,Station Wagon/Sport Utility Vehicle,NaN,NaN,NaN
26,2019-11-24T00:00:00.000,0:00,BRONX,10475,NaN,NaN,NaN,NaN,NaN,691 COOP CITY BOULEVARD,0.0,0.0,0,0,0,0,0,0,Unspecified,Unspecified,4246776,Station Wagon/Sport Utility Vehicle,Sedan,NaN,NaN,NaN
27,2019-09-26T00:00:00.000,10:45,NaN,NaN,40.691460,-73.885470,POINT (-73.88547 40.69146),JACKIE ROBINSON PKWY,NaN,NaN,0.0,0.0,0,0,0,0,0,0,Driver Inattention/Distraction,Unspecified,4213484,Station Wagon/Sport Utility Vehicle,Sedan,NaN,NaN,NaN
28,2019-09-12T00:00:00.000,20:44,MANHATTAN,10012,40.726242,-74.000496,POINT (-74.000496 40.726242),NaN,NaN,457 WEST BROADWAY,1.0,0.0,0,0,1,0,0,0,Driver Inattention/Distraction,Unspecified,4205755,Bike,Taxi,Station Wagon/Sport Utility Vehicle,NaN,NaN
29,2019-09-24T00:00:00.000,8:45,BROOKLYN,11226,40.643425,-73.945880,POINT (-73.94588 40.643425),NEW YORK AVENUE,CLARENDON ROAD,NaN,1.0,0.0,1,0,0,0,0,0,Glare,NaN,4212283,Station Wagon/Sport Utility Vehicle,NaN,NaN,NaN,NaN
30,2019-09-16T00:00:00.000,14:30,NaN,NaN,40.712833,-73.827410,POINT (-73.82741 40.712833),QUEENS BOULEVARD,NaN,NaN,0.0,0.0,0,0,0,0,0,0,Failure to Yield Right-of-Way,Unspecified,4207059,Station Wagon/Sport Utility Vehicle,Station Wagon/Sport Utility Vehicle,NaN,NaN,NaN
31,2019-09-03T00:00:00.000,10:10,BROOKLYN,11209,40.622684,-74.025420,POINT (-74.02542 40.622684),NaN,NaN,8413 5 AVENUE,0.0,0.0,0,0,0,0,0,0,Unspecified,Unspecified,4198925,Sedan,Sedan,NaN,NaN,NaN
32,2019-09-12T00:00:00.000,21:30,MANHATTAN,10002,40.721756,-73.987520,POINT (-73.98752 40.721756),NaN,NaN,171 LUDLOW STREET,0.0,0.0,0,0,0,0,0,0,Passing Too Closely,Unspecified,4204723,Sedan,Box Truck,NaN,NaN,NaN
33,2019-09-13T00:00:00.000,16:45,NaN,NaN,40.751420,-73.987656,POINT (-73.987656 40.75142),BROADWAY,NaN,NaN,0.0,0.0,0,0,0,0,0,0,Reaction to Uninvolved Vehicle,Driver Inattention/Distraction,4220571,Box Truck,Taxi,NaN,NaN,NaN
34,2019-09-24T00:00:00.000,19:40,BRONX,10453,40.846893,-73.920550,POINT (-73.92055 40.846893),UNIVERSITY AVENUE,WEST 174 STREET,NaN,0.0,0.0,0,0,0,0,0,0,Driver Inattention/Distraction,Unspecified,4212776,Station Wagon/Sport Utility Vehicle,Sedan,NaN,NaN,NaN
35,2019-09-06T00:00:00.000,11:00,QUEENS,11418,40.694330,-73.826970,POINT (-73.82697 40.69433),ATLANTIC AVENUE,120 STREET,NaN,0.0,0.0,0,0,0,0,0,0,Driver Inattention/Distraction,Unspecified,4201899,Station Wagon/Sport Utility Vehicle,Box Truck,NaN,NaN,NaN
36,2019-09-02T00:00:00.000,22:30,BROOKLYN,11225,40.661915,-73.944916,POINT (-73.944916 40.661915),NaN,NaN,532 EAST NEW YORK AVENUE,0.0,0.0,0,0,0,0,0,0,Unspecified,NaN,4202934,Station Wagon/Sport Utility Vehicle,NaN,NaN,NaN,NaN
37,2019-09-18T00:00:00.000,15:15,BROOKLYN,11226,40.640583,-73.955730,POINT (-73.95573 40.640583),DITMAS AVENUE,FLATBUSH AVENUE,NaN,0.0,0.0,0,0,0,0,0,0,Unspecified,Unspecified,4208651,Sedan,Sedan,NaN,NaN,NaN
38,2019-09-06T00:00:00.000,16:30,MANHATTAN,10017,40.753320,-73.972595,POINT (-73.972595 40.75332),3 AVENUE,EAST 46 STREET,NaN,0.0,0.0,0,0,0,0,0,0,Unsafe Lane Changing,Unspecified,4200898,Taxi,Station Wagon/Sport Utility Vehicle,NaN,NaN,NaN
39,2019-09-22T00:00:00.000,20:15,NaN,NaN,40.784992,-73.982610,POINT (-73.98261 40.784992),WEST 79 STREET,NaN,NaN,0.0,0.0,0,0,0,0,0,0,Driver Inattention/Distraction,Driver Inattention/Distraction,4210558,Sedan,Sedan,NaN,NaN,NaN
40,2019-09-10T00:00:00.000,11:48,QUEENS,11105,40.776130,-73.910706,POINT (-73.910706 40.77613),31 STREET,DITMARS BOULEVARD,NaN,0.0,0.0,0,0,0,0,0,0,Backing Unsafely,Unspecified,4203259,Station Wagon/Sport Utility Vehicle,Station Wagon/Sport Utility Vehicle,NaN,NaN,NaN
41,2019-09-21T00:00:00.000,14:30,NaN,NaN,40.546530,-74.180435,POINT (-74.180435 40.54653),ARDEN AVENUE,NaN,NaN,0.0,0.0,0,0,0,0,0,0,Passing or Lane Usage Improper,Unspecified,4210092,Sedan,Station Wagon/Sport Utility Vehicle,NaN,NaN,NaN
42,2019-09-02T00:00:00.000,16:15,QUEENS,11422,40.665558,-73.729850,POINT (-73.72985 40.665558),SUNRISE HIGHWAY,HOOK CREEK BOULEVARD,NaN,0.0,0.0,0,0,0,0,0,0,Unspecified,Unspecified,4198495,Station Wagon/Sport Utility Vehicle,Sedan,NaN,NaN,NaN
43,2019-09-26T00:00:00.000,8:45,NaN,NaN,40.757355,-73.738870,POINT (-73.73887 40.757355),LONG ISLAND EXPRESSWAY,NaN,NaN,0.0,0.0,0,0,0,0,0,0,Following Too Closely,Unspecified,4212879,Station Wagon/Sport Utility Vehicle,Convertible,NaN,NaN,NaN
44,2019-09-14T00:00:00.000,18:56,BRONX,10472,40.831640,-73.876076,POINT (-73.876076 40.83164),STRATFORD AVENUE,EAST 172 STREET,NaN,0.0,0.0,0,0,0,0,0,0,Unspecified,Unspecified,4205598,Taxi,Taxi,NaN,NaN,NaN
45,2019-09-26T00:00:00.000,6:20,BROOKLYN,11249,40.699482,-73.961040,POINT (-73.96104 40.699482),KENT AVENUE,RUTLEDGE STREET,NaN,0.0,0.0,0,0,0,0,0,0,Driver Inattention/Distraction,Turning Improperly,4213330,Sedan,Box Truck,NaN,NaN,NaN
46,2019-09-21T00:00:00.000,14:48,STATEN ISLAND,10305,40.611340,-74.072716,POINT (-74.072716 40.61134),NaN,NaN,50 FOX HILL TERRACE,0.0,0.0,0,0,0,0,0,0,Driver Inattention/Distraction,Unspecified,4211997,Sedan,NaN,NaN,NaN,NaN
47,2019-09-24T00:00:00.000,15:20,QUEENS,11433,NaN,NaN,NaN,jamaica avenue,175 street,NaN,1.0,0.0,0,0,0,0,1,0,Driver Inattention/Distraction,Unspecified,4220075,Sedan,Sedan,NaN,NaN,NaN
48,2019-09-13T00:00:00.000,12:15,BROOKLYN,11206,40.702713,-73.937325,POINT (-73.937325 40.702713),BUSHWICK AVENUE,COOK STREET,NaN,0.0,0.0,0,0,0,0,0,0,Following Too Closely,Unspecified,4205969,Sedan,MOPED,NaN,NaN,NaN
49,2019-09-03T00:00:00.000,17:30,BROOKLYN,11220,40.635320,-74.023240,POINT (-74.02324 40.63532),68 STREET,4 AVENUE,NaN,2.0,0.0,0,0,0,0,2,0,Driver Inattention/Distraction,Unspecified,4199167,Station Wagon/Sport Utility Vehicle,Station Wagon/Sport Utility Vehicle,NaN,NaN,NaN
50,2019-09-13T00:00:00.000,7:25,BRONX,10454,40.806164,-73.909134,POINT (-73.909134 40.806164),EAST 141 STREET,BRUCKNER BOULEVARD,NaN,1.0,0.0,0,0,0,0,1,0,Unspecified,Unspecified,4204868,Sedan,Sedan,NaN,NaN,NaN
51,2019-09-27T00:00:00.000,22:38,BROOKLYN,11208,40.688570,-73.875700,POINT (-73.8757 40.68857),JAMAICA AVENUE,CYPRESS HILL STREET,NaN,1.0,0.0,0,0,0,0,1,0,Driver Inattention/Distraction,Unspecified,4214477,Station Wagon/Sport Utility Vehicle,Station Wagon/Sport Utility Vehicle,NaN,NaN,NaN
52,2019-04-14T00:00:00.000,5:30,BRONX,10459,40.820305,-73.890830,POINT (-73.89083 40.820305),BRUCKNER BOULEVARD,HUNTS POINT AVENUE,NaN,0.0,0.0,0,0,0,0,0,0,Unspecified,Unspecified,4114310,Sedan,Sedan,NaN,NaN,NaN
53,2019-09-16T00:00:00.000,15:50,NaN,NaN,40.748848,-73.872375,POINT (-73.872375 40.748848),ROOSEVELT AVENUE,94 STREET,NaN,0.0,0.0,0,0,0,0,0,0,Pedestrian/Bicyclist/Other Pedestrian Error/Co...,Following Too Closely,4207133,Station Wagon/Sport Utility Vehicle,Sedan,NaN,NaN,NaN
54,2019-09-02T00:00:00.000,0:15,NaN,NaN,NaN,NaN,NaN,GOWANUS RAMP,NaN,NaN,3.0,0.0,0,0,0,0,3,0,Unspecified,Unspecified,4198339,Sedan,Station Wagon/Sport Utility Vehicle,NaN,NaN,NaN
55,2019-09-13T00:00:00.000,11:25,NaN,NaN,40.850494,-73.915460,POINT (-73.91546 40.850494),UNIVERSITY AVENUE,NaN,NaN,1.0,0.0,0,0,0,0,1,0,Backing Unsafely,Unspecified,4205322,Sedan,Station Wagon/Sport Utility Vehicle,NaN,NaN,NaN
56,2019-09-21T00:00:00.000,8:00,BROOKLYN,11215,40.668633,-73.976840,POINT (-73.97684 40.668633),NaN,NaN,412 8 AVENUE,0.0,0.0,0,0,0,0,0,0,Driver Inattention/Distraction,Driver Inattention/Distraction,4210527,Sedan,Sedan,Sedan,NaN,NaN
57,2019-09-15T00:00:00.000,0:12,NaN,NaN,40.680855,-74.003050,POINT (-74.00305 40.680855),BROOKLYN QUEENS EXPRESSWAY,NaN,NaN,0.0,0.0,0,0,0,0,0,0,Passing Too Closely,Alcohol Involvement,4206466,Taxi,Sedan,NaN,NaN,NaN
58,2019-09-06T00:00:00.000,10:05,QUEENS,11691,40.605404,-73.741480,POINT (-73.74148 40.605404),NaN,NaN,678 CEDAR LAWN AVENUE,0.0,0.0,0,0,0,0,0,0,Passing Too Closely,Unspecified,4201129,Station Wagon/Sport Utility Vehicle,Concrete Mixer,NaN,NaN,NaN
60,2019-09-22T00:00:00.000,3:25,QUEENS,11368,40.753605,-73.870460,POINT (-73.87046 40.753605),NaN,NaN,97-14 35 AVENUE,3.0,0.0,0,0,0,0,3,0,Driver Inattention/Distraction,Unspecified,4210126,Sedan,Sedan,NaN,NaN,NaN
61,2019-09-25T00:00:00.000,16:25,BROOKLYN,11232,40.658600,-74.003390,POINT (-74.00339 40.6586),NaN,NaN,850 3 AVENUE,0.0,0.0,0,0,0,0,0,0,Driver Inexperience,Unspecified,4212496,Station Wagon/Sport Utility Vehicle,Sedan,NaN,NaN,NaN
63,2019-09-09T00:00:00.000,10:07,MANHATTAN,10012,40.721620,-73.995476,POINT (-73.995476 40.72162),SPRING STREET,MOTT STREET,NaN,0.0,0.0,0,0,0,0,0,0,Passing Too Closely,Unspecified,4208216,Station Wagon/Sport Utility Vehicle,Station Wagon/Sport Utility Vehicle,NaN,NaN,NaN
64,2019-09-26T00:00:00.000,17:55,BROOKLYN,11204,40.622787,-73.990100,POINT (-73.9901 40.622787),61 STREET,17 AVENUE,NaN,1.0,0.0,1,0,0,0,0,0,Unspecified,NaN,4214951,Bus,NaN,NaN,NaN,NaN
65,2019-09-03T00:00:00.000,11:00,QUEENS,11355,40.752260,-73.832400,POINT (-73.8324 40.75226),NaN,NaN,49-04 COLLEGE POINT BOULEVARD,0.0,0.0,0,0,0,0,0,0,Passing Too Closely,NaN,4199317,Station Wagon/Sport Utility Vehicle,NaN,NaN,NaN,NaN
66,2019-09-11T00:00:00.000,19:30,BROOKLYN,11226,40.640350,-73.959180,POINT (-73.95918 40.64035),NaN,NaN,910 OCEAN AVENUE,0.0,0.0,0,0,0,0,0,0,Driver Inattention/Distraction,Unspecified,4204107,Sedan,Sedan,NaN,NaN,NaN
72,2019-09-19T00:00:00.000,14:50,QUEENS,11373,40.730880,-73.871635,POINT (-73.871635 40.73088),WOODHAVEN BOULEVARD,60 ROAD,NaN,0.0,0.0,0,0,0,0,0,0,Failure to Yield Right-of-Way,Unspecified,4209020,Station Wagon/Sport Utility Vehicle,Convertible,NaN,NaN,NaN
73,2019-09-06T00:00:00.000,19:10,MANHATTAN,10038,40.709530,-74.008420,POINT (-74.00842 40.70953),NASSAU STREET,JOHN STREET,NaN,0.0,0.0,0,0,0,0,0,0,Driver Inattention/Distraction,Unspecified,4201313,Station Wagon/Sport Utility Vehicle,Bus,NaN,NaN,NaN
76,2019-09-26T00:00:00.000,20:00,MANHATTAN,10013,40.721420,-73.999040,POINT (-73.99904 40.72142),BROOME STREET,CROSBY STREET,NaN,0.0,0.0,0,0,0,0,0,0,Driver Inattention/Distraction,Passing or Lane Usage Improper,4216253,Sedan,Box Truck,NaN,NaN,NaN
77,2019-09-04T00:00:00.000,9:00,QUEENS,11434,40.670020,-73.783120,POINT (-73.78312 40.67002),ROCKAWAY BOULEVARD,134 AVENUE,NaN,0.0,0.0,0,0,0,0,0,0,Other Vehicular,Unspecified,4199412,Station Wagon/Sport Utility Vehicle,3-Door,NaN,NaN,NaN
78,2019-09-16T00:00:00.000,17:15,BRONX,10469,40.880120,-73.849724,POINT (-73.849724 40.88012),NaN,NaN,1470 OAKLEY STREET,0.0,0.0,0,0,0,0,0,0,Driver Inattention/Distraction,Unspecified,4209411,Station Wagon/Sport Utility Vehicle,Station Wagon/Sport Utility Vehicle,NaN,NaN,NaN
81,2019-09-19T00:00:00.000,12:10,MANHATTAN,10128,40.787224,-73.954170,POINT (-73.95417 40.787224),EAST 96 STREET,MADISON AVENUE,NaN,0.0,0.0,0,0,0,0,0,0,Driver Inattention/Distraction,Driver Inattention/Distraction,4217954,Sedan,Taxi,NaN,NaN,NaN
83,2019-09-27T00:00:00.000,17:00,QUEENS,11423,40.710827,-73.770660,POINT (-73.77066 40.710827),JAMAICA AVENUE,188 STREET,NaN,0.0,0.0,0,0,0,0,0,0,Failure to Yield Right-of-Way,Unspecified,4213727,Station Wagon/Sport Utility Vehicle,Sedan,NaN,NaN,NaN
85,2019-09-15T00:00:00.000,21:00,BRONX,10466,40.893032,-73.843040,POINT (-73.84304 40.893032),NaN,NaN,2016 EDENWALD AVENUE,0.0,0.0,0,0,0,0,0,0,Driver Inattention/Distraction,Unspecified,4209419,Station Wagon/Sport Utility Vehicle,NaN,NaN,NaN,NaN
90,2019-09-05T00:00:00.000,10:11,QUEENS,11101,40.737537,-73.929955,POINT (-73.929955 40.737537),HUNTERS POINT AVENUE,GREENPOINT AVENUE,NaN,0.0,0.0,0,0,0,0,0,0,Unspecified,NaN,4200323,Station Wagon/Sport Utility Vehicle,NaN,NaN,NaN,NaN
91,2019-09-13T00:00:00.000,8:30,QUEENS,11417,40.673073,-73.845750,POINT (-73.84575 40.673073),PITKIN AVENUE,WHITELAW STREET,NaN,0.0,0.0,0,0,0,0,0,0,Failure to Yield Right-of-Way,Unspecified,4206542,Station Wagon/Sport Utility Vehicle,Station Wagon/Sport Utility Vehicle,NaN,NaN,NaN
92,2019-09-19T00:00:00.000,16:45,QUEENS,11102,40.766647,-73.921610,POINT (-73.92161 40.766647),NaN,NaN,30-14 31 STREET,0.0,0.0,0,0,0,0,0,0,Driver Inattention/Distraction,Unspecified,4212248,Station Wagon/Sport Utility Vehicle,NaN,NaN,NaN,NaN
93,2019-09-17T00:00:00.000,5:32,BRONX,10451,40.820473,-73.921370,POINT (-73.92137 40.820473),NaN,NaN,675 MORRIS AVENUE,0.0,0.0,0,0,0,0,0,0,Unspecified,NaN,4207700,Sedan,NaN,NaN,NaN,NaN
94,2019-09-24T00:00:00.000,18:58,QUEENS,11360,NaN,NaN,NaN,NaN,NaN,213 15 26 ave,0.0,0.0,0,0,0,0,0,0,Passing or Lane Usage Improper,Unspecified,4211942,Sedan,NaN,NaN,NaN,NaN
95,2019-09-04T00:00:00.000,13:30,QUEENS,11101,40.745106,-73.947460,POINT (-73.94746 40.745106),JACKSON AVENUE,46 ROAD,NaN,0.0,0.0,0,0,0,0,0,0,Driver Inattention/Distraction,Unspecified,4201249,Station Wagon/Sport Utility Vehicle,Sedan,NaN,NaN,NaN
96,2019-09-21T00:00:00.000,11:40,MANHATTAN,10014,40.736430,-74.006630,POINT (-74.00663 40.73643),BANK STREET,GREENWICH STREET,NaN,0.0,0.0,0,0,0,0,0,0,Driver Inattention/Distraction,Passing Too Closely,4209860,Sedan,Taxi,NaN,NaN,NaN
102,2019-09-06T00:00:00.000,14:00,QUEENS,11429,40.711720,-73.735140,POINT (-73.73514 40.71172),NaN,NaN,219-40 104 AVENUE,0.0,0.0,0,0,0,0,0,0,Passing Too Closely,Unspecified,4200861,Sedan,Sedan,NaN,NaN,NaN
103,2019-09-16T00:00:00.000,13:40,MANHATTAN,10019,40.766018,-73.981210,POINT (-73.98121 40.766018),NaN,NaN,225 WEST 57 STREET,0.0,0.0,0,0,0,0,0,0,Driver Inattention/Distraction,Driver Inattention/Distraction,4207171,Box Truck,Sedan,NaN,NaN,NaN
106,2019-09-08T00:00:00.000,0:22,MANHATTAN,10034,40.867060,-73.926840,POINT (-73.92684 40.86706),CUMMING STREET,SEAMAN AVENUE,NaN,1.0,0.0,1,0,0,0,0,0,NaN,NaN,4203727,NaN,NaN,NaN,NaN,NaN
107,2019-09-20T00:00:00.000,22:00,QUEENS,11373,40.743260,-73.889800,POINT (-73.8898 40.74326),75 STREET,WOODSIDE AVENUE,NaN,0.0,0.0,0,0,0,0,0,0,Driver Inattention/Distraction,NaN,4210412,Station Wagon/Sport Utility Vehicle,NaN,NaN,NaN,NaN

I would like to know how many crashes occured in each of the boroughs and then do the same for number_of_persons killed. I would then like to see if there is a correlation between the two. Look first at the value counts for the boroughs.

In [11]:
MVCcounts = MVC2['borough'].value_counts()
MVCcounts

BROOKLYN         348590
QUEENS           299053
MANHATTAN        269469
BRONX            156517
STATEN ISLAND     48577
Name: borough, dtype: int64

To get a better idea of these numbers, let's get a percentage of total number of crashes for each borough.

In [12]:
MVC2['borough'].value_counts(normalize=True) * 100

BROOKLYN         31.062924
QUEENS           26.648672
MANHATTAN        24.012436
BRONX            13.947261
STATEN ISLAND     4.328706
Name: borough, dtype: float64

Now look at the number of persons killed.

In [13]:
MVCcounts1 = MVC2['number_of_persons_killed'].value_counts()
MVCcounts1

0.0    1609129
1.0       1754
2.0         43
3.0          6
4.0          2
8.0          1
5.0          1
Name: number_of_persons_killed, dtype: int64

I want to know the same information for number of deaths. What percentage of the total is each value, or what percentage is the number of deaths involving one person, two persons, up to the highest number which is 8.

In [14]:
MVC2['number_of_persons_killed'].value_counts(normalize=True) * 100

0.0    99.887829
1.0     0.108881
2.0     0.002669
3.0     0.000372
4.0     0.000124
8.0     0.000062
5.0     0.000062
Name: number_of_persons_killed, dtype: float64

It appears that for the majority of crashes in all boroughs, there are usually no deaths. The percentages show that 99.8% of crashes did not involve deaths. I would like to remove the values that are zero and no deaths to a new dataframe without the zero values.

In [15]:
MVC3 = MVC2[MVC2.number_of_persons_killed > 0]
MVC3

,accident_date,accident_time,borough,zip_code,latitude,longitude,location,on_street_name,off_street_name,cross_street_name,number_of_persons_injured,number_of_persons_killed,number_of_pedestrians_injured,number_of_pedestrians_killed,number_of_cyclist_injured,number_of_cyclist_killed,number_of_motorist_injured,number_of_motorist_killed,contributing_factor_vehicle_1,contributing_factor_vehicle_2,collision_id,vehicle_type_code1,vehicle_type_code2,vehicle_type_code_3,vehicle_type_code_4,vehicle_type_code_5
172,2019-09-10T00:00:00.000,1:14,QUEENS,11420,40.682250,-73.815170,POINT (-73.81517 40.68225),111 AVENUE,126 STREET,NaN,1.0,1.0,0,0,0,0,1,1,Traffic Control Disregarded,Unspecified,4202753,Station Wagon/Sport Utility Vehicle,Station Wagon/Sport Utility Vehicle,NaN,NaN,NaN
1303,2019-09-21T00:00:00.000,21:13,QUEENS,11367,40.729443,-73.825510,POINT (-73.82551 40.729443),JEWEL AVENUE,140 STREET,NaN,0.0,1.0,0,1,0,0,0,0,Unspecified,NaN,4210967,Sedan,NaN,NaN,NaN,NaN
2836,2019-09-17T00:00:00.000,15:56,BRONX,10467,40.880650,-73.864940,POINT (-73.86494 40.88065),WHITE PLAINS ROAD,EAST 215 STREET,NaN,1.0,1.0,0,1,0,0,1,0,Driver Inexperience,Unspecified,4207959,Station Wagon/Sport Utility Vehicle,Station Wagon/Sport Utility Vehicle,NaN,NaN,NaN
3188,2019-09-09T00:00:00.000,13:22,NaN,NaN,40.870888,-73.872215,POINT (-73.872215 40.870888),BRONX RIVER PARKWAY,NaN,NaN,3.0,1.0,0,0,0,0,3,1,Unsafe Speed,NaN,4203598,Sedan,NaN,NaN,NaN,NaN
4952,2019-09-22T00:00:00.000,3:15,NaN,NaN,NaN,NaN,NaN,CONDUIT BOULEVARD,CRESCENT STREET,NaN,0.0,1.0,0,1,0,0,0,0,Unspecified,NaN,4210961,Station Wagon/Sport Utility Vehicle,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1607714,2013-03-20T00:00:00.000,16:04,NaN,NaN,NaN,NaN,NaN,WEBSTER AVENUE,EAST 187 STREET,NaN,4.0,1.0,0,0,0,0,4,1,Turning Improperly,Unspecified,93175,PASSENGER VEHICLE,PASSENGER VEHICLE,SPORT UTILITY / STATION WAGON,SPORT UTILITY / STATION WAGON,SPORT UTILITY / STATION WAGON
1609305,2013-03-07T00:00:00.000,19:32,QUEENS,11364,40.742405,-73.753472,POINT (-73.7534717 40.7424052),SPRINGFIELD BOULEVARD,73 AVENUE,NaN,0.0,1.0,0,1,0,0,0,0,Failure to Yield Right-of-Way,NaN,261208,BUS,NaN,NaN,NaN,NaN
1610038,2013-03-13T00:00:00.000,6:37,NaN,NaN,NaN,NaN,NaN,HAMILTON AVENUE,COURT STREET,NaN,0.0,1.0,0,1,0,0,0,0,View Obstructed/Limited,NaN,171461,OTHER,NaN,NaN,NaN,NaN
1610064,2013-03-08T00:00:00.000,4:35,BROOKLYN,11219,40.628445,-73.996336,POINT (-73.9963362 40.6284454),59 STREET,NEW UTRECHT AVENUE,NaN,0.0,1.0,0,0,0,1,0,0,Unspecified,Unspecified,131926,PASSENGER VEHICLE,SPORT UTILITY / STATION WAGON,BICYCLE,NaN,NaN
1610760,2013-03-03T00:00:00.000,0:08,BROOKLYN,11213,40.678009,-73.941378,POINT (-73.9413784 40.6780095),ATLANTIC AVENUE,KINGSTON AVENUE,NaN,1.0,1.0,0,0,0,0,1,1,Unspecified,NaN,180631,PASSENGER VEHICLE,NaN,NaN,NaN,NaN

Now we can look again at the percentages for deaths from total crashes without the incidents involving zero deaths.

In [16]:
MVC3['number_of_persons_killed'].value_counts(normalize=True) * 100

1.0    97.066962
2.0     2.379635
3.0     0.332042
4.0     0.110681
5.0     0.055340
8.0     0.055340
Name: number_of_persons_killed, dtype: float64

In [0]:
?stats.pearsonr

In [18]:
stats.pearsonr(MVC['borough'], MVC['number_of_persons_killed'])

ValueError: ignored