<a href="https://colab.research.google.com/github/medicalmom/M12/blob/master/M12.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import numpy as np
import pandas as pd
import datetime as dt
import sys
from scipy import stats

We start by importing modules and then we ingest the dataset we would like to work with.

The New York City Open Data set 311 maintains a dataset for motor vehicle crashes
https://data.cityofnewyork.us/resource/h9gi-nx95.csv

This dataset will be used to examine and look for information on the crashes reported. The data set is ingested below. We will do some cleaning, and grouping before looking for patterns. Any findings, we will use this to look for statistical signficance if we find interesteing observations.

In [0]:
MVC = pd.read_csv("https://data.cityofnewyork.us/resource/h9gi-nx95.csv?$limit=2000000", low_memory=False)

####Set options on rows and columns to allow all to be seen, or limit to 500 for rows.

In [17]:
pd.set_option('display.max_columns', None) 
pd.set_option('display.max_rows', 500) 
MVC.head()

,accident_date,accident_time,borough,zip_code,latitude,longitude,location,on_street_name,off_street_name,cross_street_name,number_of_persons_injured,number_of_persons_killed,number_of_pedestrians_injured,number_of_pedestrians_killed,number_of_cyclist_injured,number_of_cyclist_killed,number_of_motorist_injured,number_of_motorist_killed,contributing_factor_vehicle_1,contributing_factor_vehicle_2,contributing_factor_vehicle_3,contributing_factor_vehicle_4,contributing_factor_vehicle_5,collision_id,vehicle_type_code1,vehicle_type_code2,vehicle_type_code_3,vehicle_type_code_4,vehicle_type_code_5
0,2019-07-05T00:00:00.000,14:50,NaN,NaN,40.594970,-73.76071,POINT (-73.76071 40.59497),BEACH 28 STREET,SEAGIRT AVENUE,NaN,1.0,0.0,1,0,0,0,0,0,Failure to Yield Right-of-Way,NaN,NaN,NaN,NaN,4165974,Station Wagon/Sport Utility Vehicle,NaN,NaN,NaN,NaN
1,2019-07-26T00:00:00.000,9:45,NaN,NaN,40.819595,-73.92731,POINT (-73.92731 40.819595),EAST 150 STREET,NaN,NaN,0.0,0.0,0,0,0,0,0,0,Oversized Vehicle,Other Vehicular,NaN,NaN,NaN,4177741,Bus,Taxi,NaN,NaN,NaN
2,2019-07-15T00:00:00.000,18:07,BRONX,10468,40.863785,-73.90028,POINT (-73.90028 40.863785),EAST 190 STREET,JEROME AVENUE,NaN,0.0,0.0,0,0,0,0,0,0,Passing Too Closely,Unspecified,NaN,NaN,NaN,4172081,Station Wagon/Sport Utility Vehicle,Station Wagon/Sport Utility Vehicle,NaN,NaN,NaN
3,2019-07-28T00:00:00.000,17:20,NaN,NaN,40.639725,-74.03605,POINT (-74.03605 40.639725),BELT PARKWAY,NaN,NaN,0.0,0.0,0,0,0,0,0,0,Following Too Closely,Unspecified,NaN,NaN,NaN,4178344,Sedan,Sedan,NaN,NaN,NaN
4,2019-07-06T00:00:00.000,2:45,NaN,NaN,40.757877,-73.85952,POINT (-73.85952 40.757877),110 STREET,NORTHERN BOULEVARD,NaN,0.0,0.0,0,0,0,0,0,0,Unspecified,NaN,NaN,NaN,NaN,4165326,Sedan,NaN,NaN,NaN,NaN

We would like to get some information about the dataset. Below is the information.

In [18]:
MVC.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1609874 entries, 0 to 1609873
Data columns (total 29 columns):
accident_date                    1609874 non-null object
accident_time                    1609874 non-null object
borough                          1121507 non-null object
zip_code                         1121310 non-null object
latitude                         1413214 non-null float64
longitude                        1413214 non-null float64
location                         1413214 non-null object
on_street_name                   1294265 non-null object
off_street_name                  1070431 non-null object
cross_street_name                223444 non-null object
number_of_persons_injured        1609857 non-null float64
number_of_persons_killed         1609843 non-null float64
number_of_pedestrians_injured    1609874 non-null int64
number_of_pedestrians_killed     1609874 non-null int64
number_of_cyclist_injured        1609874 non-null int64
number_of_cyclist_killed         1609874 non-null int64
number_of_motorist_injured       1609874 non-null int64
number_of_motorist_killed        1609874 non-null int64
contributing_factor_vehicle_1    1605627 non-null object
contributing_factor_vehicle_2    1393432 non-null object
contributing_factor_vehicle_3    104096 non-null object
contributing_factor_vehicle_4    21673 non-null object
contributing_factor_vehicle_5    5547 non-null object
collision_id                     1609874 non-null int64
vehicle_type_code1               1604463 non-null object
vehicle_type_code2               1344288 non-null object
vehicle_type_code_3              133170 non-null object
vehicle_type_code_4              49456 non-null object
vehicle_type_code_5              10642 non-null object
dtypes: float64(4), int64(7), object(18)
memory usage: 356.2+ MB

We would be interested to know how many null values are in some columns. If there are alot of NaN or null values, we could drop these columns.

In [19]:
MVC[MVC['vehicle_type_code_3'].isnull()].head(50)

,accident_date,accident_time,borough,zip_code,latitude,longitude,location,on_street_name,off_street_name,cross_street_name,number_of_persons_injured,number_of_persons_killed,number_of_pedestrians_injured,number_of_pedestrians_killed,number_of_cyclist_injured,number_of_cyclist_killed,number_of_motorist_injured,number_of_motorist_killed,contributing_factor_vehicle_1,contributing_factor_vehicle_2,contributing_factor_vehicle_3,contributing_factor_vehicle_4,contributing_factor_vehicle_5,collision_id,vehicle_type_code1,vehicle_type_code2,vehicle_type_code_3,vehicle_type_code_4,vehicle_type_code_5
0,2019-07-05T00:00:00.000,14:50,NaN,NaN,40.594970,-73.760710,POINT (-73.76071 40.59497),BEACH 28 STREET,SEAGIRT AVENUE,NaN,1.0,0.0,1,0,0,0,0,0,Failure to Yield Right-of-Way,NaN,NaN,NaN,NaN,4165974,Station Wagon/Sport Utility Vehicle,NaN,NaN,NaN,NaN
1,2019-07-26T00:00:00.000,9:45,NaN,NaN,40.819595,-73.927310,POINT (-73.92731 40.819595),EAST 150 STREET,NaN,NaN,0.0,0.0,0,0,0,0,0,0,Oversized Vehicle,Other Vehicular,NaN,NaN,NaN,4177741,Bus,Taxi,NaN,NaN,NaN
2,2019-07-15T00:00:00.000,18:07,BRONX,10468,40.863785,-73.900280,POINT (-73.90028 40.863785),EAST 190 STREET,JEROME AVENUE,NaN,0.0,0.0,0,0,0,0,0,0,Passing Too Closely,Unspecified,NaN,NaN,NaN,4172081,Station Wagon/Sport Utility Vehicle,Station Wagon/Sport Utility Vehicle,NaN,NaN,NaN
3,2019-07-28T00:00:00.000,17:20,NaN,NaN,40.639725,-74.036050,POINT (-74.03605 40.639725),BELT PARKWAY,NaN,NaN,0.0,0.0,0,0,0,0,0,0,Following Too Closely,Unspecified,NaN,NaN,NaN,4178344,Sedan,Sedan,NaN,NaN,NaN
4,2019-07-06T00:00:00.000,2:45,NaN,NaN,40.757877,-73.859520,POINT (-73.85952 40.757877),110 STREET,NORTHERN BOULEVARD,NaN,0.0,0.0,0,0,0,0,0,0,Unspecified,NaN,NaN,NaN,NaN,4165326,Sedan,NaN,NaN,NaN,NaN
5,2019-07-28T00:00:00.000,8:00,MANHATTAN,10016,40.743782,-73.973520,POINT (-73.97352 40.743782),EAST 34 STREET,1 AVENUE,NaN,0.0,0.0,0,0,0,0,0,0,Passing or Lane Usage Improper,Unspecified,NaN,NaN,NaN,4178110,Sedan,Sedan,NaN,NaN,NaN
6,2019-07-29T00:00:00.000,17:12,NaN,NaN,40.879253,-73.919960,POINT (-73.91996 40.879253),HENRY HUDSON PARKWAY,NaN,NaN,1.0,0.0,0,0,0,0,1,0,Lost Consciousness,Unspecified,NaN,NaN,NaN,4180143,Sedan,Dump,NaN,NaN,NaN
7,2019-07-11T00:00:00.000,14:00,NaN,NaN,40.633564,-74.015950,POINT (-74.01595 40.633564),66 STREET,7 AVENUE,NaN,1.0,0.0,0,0,0,0,1,0,Following Too Closely,Unspecified,NaN,NaN,NaN,4168412,Sedan,Station Wagon/Sport Utility Vehicle,NaN,NaN,NaN
8,2019-07-02T00:00:00.000,16:14,NaN,NaN,NaN,NaN,NaN,MANHATTAN BR UPPER,NaN,NaN,0.0,0.0,0,0,0,0,0,0,Fatigued/Drowsy,NaN,NaN,NaN,NaN,4163602,Sedan,NaN,NaN,NaN,NaN
9,2019-07-20T00:00:00.000,19:08,BRONX,10472,40.830654,-73.881570,POINT (-73.88157 40.830654),NaN,NaN,1288 EVERGREEN AVENUE,0.0,0.0,0,0,0,0,0,0,Unspecified,Unspecified,NaN,NaN,NaN,4174223,Sedan,Sedan,NaN,NaN,NaN
10,2019-07-19T00:00:00.000,13:30,NaN,NaN,40.744644,-73.731186,POINT (-73.731186 40.744644),GRAND CENTRAL PKWY,NaN,NaN,1.0,0.0,0,0,0,0,1,0,Following Too Closely,Unspecified,NaN,NaN,NaN,4173303,Sedan,Sedan,NaN,NaN,NaN
11,2019-07-17T00:00:00.000,20:50,BROOKLYN,11221,40.696873,-73.927920,POINT (-73.92792 40.696873),NaN,NaN,35 CEDAR STREET,0.0,0.0,0,0,0,0,0,0,Following Too Closely,Unspecified,NaN,NaN,NaN,4172318,Sedan,NaN,NaN,NaN,NaN
12,2019-07-19T00:00:00.000,0:00,BRONX,10460,40.839985,-73.877426,POINT (-73.877426 40.839985),EAST TREMONT AVENUE,DEVOE AVENUE,NaN,0.0,0.0,0,0,0,0,0,0,Following Too Closely,Unspecified,NaN,NaN,NaN,4174748,Sedan,Sedan,NaN,NaN,NaN
14,2019-07-12T00:00:00.000,0:00,NaN,NaN,40.758960,-73.829850,POINT (-73.82985 40.75896),MAIN STREET,NaN,NaN,0.0,0.0,0,0,0,0,0,0,Passing or Lane Usage Improper,Passing or Lane Usage Improper,NaN,NaN,NaN,4168635,Station Wagon/Sport Utility Vehicle,Box Truck,NaN,NaN,NaN
15,2019-07-10T00:00:00.000,9:19,NaN,NaN,40.879215,-73.885284,POINT (-73.885284 40.879215),JEROME AVENUE,EAST MOSHOLU PARKWAY SOUTH,NaN,1.0,0.0,0,0,0,0,1,0,Unspecified,Unspecified,NaN,NaN,NaN,4167716,Station Wagon/Sport Utility Vehicle,Station Wagon/Sport Utility Vehicle,NaN,NaN,NaN
16,2019-07-08T00:00:00.000,19:30,BRONX,10463,40.877937,-73.916250,POINT (-73.91625 40.877937),NaN,NaN,2500 JOHNSON AVENUE,0.0,0.0,0,0,0,0,0,0,Oversized Vehicle,NaN,NaN,NaN,NaN,4166887,Pick-up Truck,NaN,NaN,NaN,NaN
17,2019-07-25T00:00:00.000,10:10,NaN,NaN,NaN,NaN,NaN,HENRY HUDSON PARKWAY,NaN,NaN,0.0,0.0,0,0,0,0,0,0,Unspecified,Unspecified,NaN,NaN,NaN,4176946,Sedan,Station Wagon/Sport Utility Vehicle,NaN,NaN,NaN
18,2019-07-16T00:00:00.000,22:15,NaN,NaN,40.855350,-73.918360,POINT (-73.91836 40.85535),MAJOR DEEGAN EXPRESSWAY,NaN,NaN,1.0,0.0,0,0,0,0,1,0,Following Too Closely,Unspecified,NaN,NaN,NaN,4171732,Sedan,Sedan,NaN,NaN,NaN
20,2019-07-06T00:00:00.000,12:15,BROOKLYN,11226,40.650276,-73.959580,POINT (-73.95958 40.650276),NaN,NaN,2125 CHURCH AVENUE,0.0,0.0,0,0,0,0,0,0,Unspecified,Unspecified,NaN,NaN,NaN,4165412,Station Wagon/Sport Utility Vehicle,Sedan,NaN,NaN,NaN
21,2019-07-15T00:00:00.000,16:50,QUEENS,11385,40.697315,-73.905590,POINT (-73.90559 40.697315),NaN,NaN,1629 WEIRFIELD STREET,0.0,0.0,0,0,0,0,0,0,Unspecified,Unspecified,NaN,NaN,NaN,4175289,Station Wagon/Sport Utility Vehicle,Sedan,NaN,NaN,NaN
22,2019-07-20T00:00:00.000,20:50,NaN,NaN,NaN,NaN,NaN,EXTERIOR STREET,NaN,NaN,0.0,0.0,0,0,0,0,0,0,Unsafe Speed,Unspecified,Unspecified,NaN,NaN,4174050,Sedan,Station Wagon/Sport Utility Vehicle,NaN,NaN,NaN
23,2019-07-27T00:00:00.000,20:36,BRONX,10457,40.849106,-73.894950,POINT (-73.89495 40.849106),3 AVENUE,EAST 179 STREET,NaN,0.0,0.0,0,0,0,0,0,0,Driver Inattention/Distraction,Unspecified,NaN,NaN,NaN,4178264,Station Wagon/Sport Utility Vehicle,Station Wagon/Sport Utility Vehicle,NaN,NaN,NaN
24,2019-07-26T00:00:00.000,13:30,NaN,NaN,40.585163,-73.956410,POINT (-73.95641 40.585163),BELT PARKWAY,NaN,NaN,0.0,0.0,0,0,0,0,0,0,Driver Inattention/Distraction,Unspecified,NaN,NaN,NaN,4177828,Bus,Station Wagon/Sport Utility Vehicle,NaN,NaN,NaN
25,2019-07-02T00:00:00.000,13:10,NaN,NaN,40.707380,-73.918490,POINT (-73.91849 40.70738),SUYDAM STREET,NaN,NaN,0.0,0.0,0,0,0,0,0,0,Oversized Vehicle,Unspecified,NaN,NaN,NaN,4163440,Sedan,Box Truck,NaN,NaN,NaN
27,2016-04-02T00:00:00.000,21:09,BRONX,10451,NaN,NaN,NaN,EXTERIOR STREET,EAST 138 STREET,NaN,0.0,0.0,0,0,0,0,0,0,Following Too Closely,Unspecified,NaN,NaN,NaN,3411039,PASSENGER VEHICLE,NaN,NaN,NaN,NaN
28,2019-07-19T00:00:00.000,10:00,NaN,NaN,40.733390,-74.004280,POINT (-74.00428 40.73339),CHRISTOPHER STREET,NaN,NaN,0.0,0.0,0,0,0,0,0,0,Driver Inattention/Distraction,Driver Inattention/Distraction,NaN,NaN,NaN,4174632,Station Wagon/Sport Utility Vehicle,Station Wagon/Sport Utility Vehicle,NaN,NaN,NaN
29,2019-07-27T00:00:00.000,13:00,QUEENS,11373,40.730637,-73.879980,POINT (-73.87998 40.730637),NaN,NaN,56-10 84 STREET,0.0,0.0,0,0,0,0,0,0,Backing Unsafely,Unspecified,NaN,NaN,NaN,4178395,Station Wagon/Sport Utility Vehicle,Station Wagon/Sport Utility Vehicle,NaN,NaN,NaN
30,2019-07-12T00:00:00.000,11:00,NaN,NaN,40.809390,-73.880420,POINT (-73.88042 40.80939),HALLECK STREET,FOOD CENTER DRIVE,NaN,0.0,0.0,0,0,0,0,0,0,Unspecified,Unspecified,NaN,NaN,NaN,4177015,Sedan,Sedan,NaN,NaN,NaN
31,2019-07-24T00:00:00.000,11:00,BRONX,10455,40.813046,-73.914024,POINT (-73.914024 40.813046),NaN,NaN,550 EAST 147 STREET,0.0,0.0,0,0,0,0,0,0,Other Vehicular,Other Vehicular,NaN,NaN,NaN,4176257,Sedan,UNKNO,NaN,NaN,NaN
32,2019-07-17T00:00:00.000,19:00,NaN,NaN,NaN,NaN,NaN,139 STREET,MAIN STREET,NaN,1.0,0.0,1,0,0,0,0,0,Driver Inattention/Distraction,Unspecified,NaN,NaN,NaN,4172211,Station Wagon/Sport Utility Vehicle,Station Wagon/Sport Utility Vehicle,NaN,NaN,NaN
33,2019-07-04T00:00:00.000,21:20,NaN,NaN,NaN,NaN,NaN,160 STREET,CROSS ISLAND PARKWAY,NaN,1.0,0.0,0,0,0,0,1,0,Traffic Control Disregarded,Traffic Control Disregarded,NaN,NaN,NaN,4164514,Station Wagon/Sport Utility Vehicle,Station Wagon/Sport Utility Vehicle,NaN,NaN,NaN
34,2019-07-12T00:00:00.000,11:39,BROOKLYN,11206,40.704700,-73.942770,POINT (-73.94277 40.7047),NaN,NaN,102 GRAHAM AVENUE,0.0,0.0,0,0,0,0,0,0,Passing Too Closely,Turning Improperly,NaN,NaN,NaN,4170546,Sedan,Station Wagon/Sport Utility Vehicle,NaN,NaN,NaN
35,2019-07-14T00:00:00.000,18:30,BRONX,10465,40.829422,-73.829750,POINT (-73.82975 40.829422),SWINTON AVENUE,BARKLEY AVENUE,NaN,0.0,0.0,0,0,0,0,0,0,Alcohol Involvement,Unspecified,NaN,NaN,NaN,4171864,Station Wagon/Sport Utility Vehicle,Station Wagon/Sport Utility Vehicle,NaN,NaN,NaN
36,2019-07-25T00:00:00.000,21:50,QUEENS,11357,40.782993,-73.799340,POINT (-73.79934 40.782993),WILLETS POINT BOULEVARD,17 AVENUE,NaN,0.0,0.0,0,0,0,0,0,0,Animals Action,Unspecified,NaN,NaN,NaN,4182138,Station Wagon/Sport Utility Vehicle,Sedan,NaN,NaN,NaN
37,2019-07-08T00:00:00.000,8:00,NaN,NaN,40.693787,-73.811730,POINT (-73.81173 40.693787),VAN WYCK EXPWY,NaN,NaN,0.0,0.0,0,0,0,0,0,0,Following Too Closely,Unspecified,NaN,NaN,NaN,4166374,Taxi,Sedan,NaN,NaN,NaN
38,2019-07-02T00:00:00.000,14:20,BROOKLYN,11207,40.654140,-73.887320,POINT (-73.88732 40.65414),PENNSYLVANIA AVENUE,COZINE AVENUE,NaN,0.0,0.0,0,0,0,0,0,0,Unspecified,Unspecified,NaN,NaN,NaN,4164764,Sedan,Bus,NaN,NaN,NaN
39,2019-07-19T00:00:00.000,19:00,MANHATTAN,10014,40.734657,-74.004750,POINT (-74.00475 40.734657),BLEECKER STREET,CHARLES STREET,NaN,1.0,0.0,0,0,0,0,1,0,Traffic Control Disregarded,Unspecified,NaN,NaN,NaN,4174653,Station Wagon/Sport Utility Vehicle,Station Wagon/Sport Utility Vehicle,NaN,NaN,NaN
40,2019-07-07T00:00:00.000,15:00,BRONX,10460,40.837364,-73.869130,POINT (-73.86913 40.837364),NaN,NaN,1481 COMMONWLTH AVENUE,0.0,0.0,0,0,0,0,0,0,Unspecified,NaN,NaN,NaN,NaN,4165662,Sedan,NaN,NaN,NaN,NaN
42,2019-07-11T00:00:00.000,16:15,BROOKLYN,11212,40.655853,-73.910126,POINT (-73.910126 40.655853),HEGEMAN AVENUE,BOYLAND STREET,NaN,0.0,0.0,0,0,0,0,0,0,Following Too Closely,Unspecified,NaN,NaN,NaN,4169305,Station Wagon/Sport Utility Vehicle,Pick-up Truck,NaN,NaN,NaN
43,2019-07-22T00:00:00.000,15:45,MANHATTAN,10035,40.808956,-73.940410,POINT (-73.94041 40.808956),WEST 129 STREET,5 AVENUE,NaN,0.0,0.0,0,0,0,0,0,0,Driver Inattention/Distraction,Driver Inattention/Distraction,NaN,NaN,NaN,4176042,Sedan,Bus,NaN,NaN,NaN
44,2019-07-02T00:00:00.000,0:22,NaN,NaN,40.677353,-73.944240,POINT (-73.94424 40.677353),BROOKLYN AVENUE,NaN,NaN,1.0,0.0,0,0,1,0,0,0,Pedestrian/Bicyclist/Other Pedestrian Error/Co...,Pedestrian/Bicyclist/Other Pedestrian Error/Co...,NaN,NaN,NaN,4163367,Bike,NaN,NaN,NaN,NaN
45,2019-07-26T00:00:00.000,11:00,NaN,NaN,40.773030,-73.978290,POINT (-73.97829 40.77303),CENTRAL PARK WEST,NaN,NaN,0.0,0.0,0,0,0,0,0,0,Driver Inattention/Distraction,Unspecified,NaN,NaN,NaN,4177435,Station Wagon/Sport Utility Vehicle,Taxi,NaN,NaN,NaN
47,2019-07-27T00:00:00.000,8:45,QUEENS,11378,40.721264,-73.903730,POINT (-73.90373 40.721264),NaN,NaN,61-37 FLUSHING AVENUE,0.0,0.0,0,0,0,0,0,0,Unspecified,NaN,NaN,NaN,NaN,4178041,Sedan,NaN,NaN,NaN,NaN
48,2019-07-22T00:00:00.000,16:03,BRONX,10469,40.876694,-73.851600,POINT (-73.8516 40.876694),NaN,NaN,3482 WILSON AVENUE,0.0,0.0,0,0,0,0,0,0,Passing Too Closely,Unspecified,NaN,NaN,NaN,4175539,Sedan,NaN,NaN,NaN,NaN
50,2019-07-14T00:00:00.000,13:00,BRONX,10472,40.832020,-73.873230,POINT (-73.87323 40.83202),EAST 172 STREET,METCALF AVENUE,NaN,0.0,0.0,0,0,0,0,0,0,Unspecified,Unspecified,NaN,NaN,NaN,4169960,Pick-up Truck,Sedan,NaN,NaN,NaN
51,2019-07-03T00:00:00.000,14:30,MANHATTAN,10001,40.750040,-73.995050,POINT (-73.99505 40.75004),NaN,NaN,413 8 AVENUE,0.0,0.0,0,0,0,0,0,0,Unsafe Lane Changing,Unspecified,NaN,NaN,NaN,4164717,Taxi,Taxi,NaN,NaN,NaN
52,2019-07-13T00:00:00.000,10:20,BROOKLYN,11208,40.662014,-73.868380,POINT (-73.86838 40.662014),COZINE AVENUE,FOUNTAIN AVENUE,NaN,0.0,0.0,0,0,0,0,0,0,Driver Inattention/Distraction,Unsafe Lane Changing,NaN,NaN,NaN,4169751,Sedan,Bus,NaN,NaN,NaN
53,2019-07-28T00:00:00.000,23:40,BROOKLYN,11218,NaN,NaN,NaN,OCEAN PARKWAY,CORTELYOU ROAD,NaN,3.0,0.0,0,0,0,0,3,0,Unsafe Speed,Unspecified,NaN,NaN,NaN,4181311,Sedan,Sedan,NaN,NaN,NaN
54,2019-07-17T00:00:00.000,20:45,QUEENS,11368,40.757233,-73.860910,POINT (-73.86091 40.757233),NaN,NaN,33-36 108 STREET,1.0,0.0,0,0,0,0,1,0,Unspecified,Unspecified,NaN,NaN,NaN,4172615,Station Wagon/Sport Utility Vehicle,Station Wagon/Sport Utility Vehicle,NaN,NaN,NaN
55,2019-07-03T00:00:00.000,21:30,NaN,NaN,40.768875,-73.948980,POINT (-73.94898 40.768875),FDR DRIVE,NaN,NaN,0.0,0.0,0,0,0,0,0,0,Driver Inattention/Distraction,Driver Inattention/Distraction,NaN,NaN,NaN,4164171,Sedan,Sedan,NaN,NaN,NaN

I would like to group by borough and number of persons killed in the crash to see which boroughs have higher numbers of persons killed.

In [20]:
MVC1 = MVC.groupby(['borough','number_of_persons_killed'])
MVC1.first()

                                                  accident_date accident_time  \
borough       number_of_persons_killed
BRONX         0.0                       2019-07-15T00:00:00.000         18:07
              1.0                       2019-06-16T00:00:00.000          4:55
              2.0                       2015-03-20T00:00:00.000         18:34
BROOKLYN      0.0                       2019-07-17T00:00:00.000         20:50
              1.0                       2019-07-08T00:00:00.000          9:10
              2.0                       2019-06-08T00:00:00.000          0:07
              3.0                       2013-03-03T00:00:00.000          0:05
MANHATTAN     0.0                       2019-07-28T00:00:00.000          8:00
              1.0                       2019-07-07T00:00:00.000         12:59
              8.0                       2017-10-31T00:00:00.000         15:08
QUEENS        0.0                       2019-07-15T00:00:00.000         16:50
              1.0                       2019-07-28T00:00:00.000         16:36
              2.0                       2017-06-17T00:00:00.000          0:55
              3.0                       2015-07-01T00:00:00.000         18:06
              4.0                       2017-09-18T00:00:00.000          6:17
              5.0                       2012-07-22T00:00:00.000          3:20
STATEN ISLAND 0.0                       2019-07-12T00:00:00.000         18:30
              1.0                       2019-07-23T00:00:00.000         12:00
              2.0                       2015-10-05T00:00:00.000         23:00

                                       zip_code   latitude  longitude  \
borough       number_of_persons_killed
BRONX         0.0                         10468  40.863785 -73.900280
              1.0                         10455  40.811428 -73.900910
              2.0                         10456  40.838722 -73.913771
BROOKLYN      0.0                         11221  40.696873 -73.927920
              1.0                         11218  40.646378 -73.970850
              2.0                         11234  40.608204 -73.920715
              3.0                         11249  40.703159 -73.965874
MANHATTAN     0.0                         10016  40.743782 -73.973520
              1.0                         10027  40.812103 -73.949760
              8.0                         10014  40.729046 -74.010730
QUEENS        0.0                         11385  40.697315 -73.905590
              1.0                         11385  40.700890 -73.893360
              2.0                         11423  40.711840 -73.754090
              3.0                         11364  40.744509 -73.766099
              4.0                         11354  40.762978 -73.831980
              5.0                         11418  40.697204 -73.813334
STATEN ISLAND 0.0                         10304  40.626930 -74.077900
              1.0                         10310  40.633858 -74.125960
              2.0                         10312  40.529374 -74.161351

                                                              location  \
borough       number_of_persons_killed
BRONX         0.0                          POINT (-73.90028 40.863785)
              1.0                          POINT (-73.90091 40.811428)
              2.0                       POINT (-73.9137706 40.8387216)
BROOKLYN      0.0                          POINT (-73.92792 40.696873)
              1.0                          POINT (-73.97085 40.646378)
              2.0                         POINT (-73.920715 40.608204)
              3.0                       POINT (-73.9658741 40.7031587)
MANHATTAN     0.0                          POINT (-73.97352 40.743782)
              1.0                          POINT (-73.94976 40.812103)
              8.0                          POINT (-74.01073 40.729046)
QUEENS        0.0                          POINT (-73.90559 40.697315)
              1.0                           POINT (-73.89336 40.70089)
              2.0                           POINT (-73.75409 40.71184)
              3.0                       POINT (-73.7660986 40.7445094)
              4.0                          POINT (-73.83198 40.762978)
              5.0                       POINT (-73.8133341 40.6972045)
STATEN ISLAND 0.0                            POINT (-74.0779 40.62693)
              1.0                          POINT (-74.12596 40.633858)
              2.0                       POINT (-74.1613509 40.5293737)

                                                          on_street_name  \
borough       number_of_persons_killed
BRONX         0.0                       EAST 190 STREET
              1.0                       BRUCKNER BOULEVARD
              2.0                       GRAND CONCOURSE
BROOKLYN      0.0                       PENNSYLVANIA AVENUE
              1.0                       CHURCH AVENUE
              2.0                       FLATBUSH AVENUE
              3.0                       KENT AVENUE
MANHATTAN     0.0                       EAST 34 STREET
              1.0                       8 AVENUE
              8.0                       WEST STREET
QUEENS        0.0                       WILLETS POINT BOULEVARD
              1.0                       62 STREET
              2.0                       100 AVENUE
              3.0                       210 STREET
              4.0                       NORTHERN BOULEVARD
              5.0                       94 AVENUE
STATEN ISLAND 0.0                       WRIGHT STREET
              1.0                       CLOVE ROAD
              2.0                       HYLAN BOULEVARD

                                                         off_street_name  \
borough       number_of_persons_killed
BRONX         0.0                                          JEROME AVENUE
              1.0                                           AUSTIN PLACE
              2.0                       EAST 170 STREET
BROOKLYN      0.0                                          COZINE AVENUE
              1.0                                    CONEY ISLAND AVENUE
              2.0                                               AVENUE V
              3.0                       WILSON STREET
MANHATTAN     0.0                                               1 AVENUE
              1.0                                        WEST 128 STREET
              8.0                                    WEST HOUSTON STREET
QUEENS        0.0                                              17 AVENUE
              1.0                                          MYRTLE AVENUE
              2.0                                              205 PLACE
              3.0                       64 AVENUE
              4.0                                            MAIN STREET
              5.0                       VAN WYCK EXPRESSWAY
STATEN ISLAND 0.0                                           WATER STREET
              1.0                                       CASTLETON AVENUE
              2.0                       ARDEN AVENUE

                                                               cross_street_name  \
borough       number_of_persons_killed
BRONX         0.0                       1288      EVERGREEN AVENUE
              1.0                       530       ELLSWORTH AVENUE
              2.0                                                            NaN
BROOKLYN      0.0                       35        CEDAR STREET
              1.0                       3022      AVENUE V
              2.0                                                            NaN
              3.0                                                            NaN
MANHATTAN     0.0                       413       8 AVENUE
              1.0                       75        LASALLE STREET
              8.0                                                            NaN
QUEENS        0.0                       1629      WEIRFIELD STREET
              1.0                       153-03    HILLSIDE AVENUE
              2.0                                                            NaN
              3.0                                                            NaN
              4.0                                                            NaN
              5.0                                                            NaN
STATEN ISLAND 0.0                       19        FORT PLACE
              1.0                       4143      RICHMOND AVENUE
              2.0                                                            NaN

                                        number_of_persons_injured  \
borough       number_of_persons_killed
BRONX         0.0                                             0.0
              1.0                                             0.0
              2.0                                             1.0
BROOKLYN      0.0                                             0.0
              1.0                                             0.0
              2.0                                             0.0
              3.0                                             1.0
MANHATTAN     0.0                                             0.0
              1.0                                             2.0
              8.0                                            12.0
QUEENS        0.0                                             0.0
              1.0                                             0.0
              2.0                                             1.0
              3.0                                             3.0
              4.0                                            15.0
              5.0                                             3.0
STATEN ISLAND 0.0                                             0.0
              1.0                                             0.0
              2.0                                             0.0

                                        number_of_pedestrians_injured  \
borough       number_of_persons_killed
BRONX         0.0                                                   0
              1.0                                                   0
              2.0                                                   1
BROOKLYN      0.0                                                   0
              1.0                                                   0
              2.0                                                   0
              3.0                                                   0
MANHATTAN     0.0                                                   0
              1.0                                                   0
              8.0                                                   7
QUEENS        0.0                                                   0
              1.0                                                   0
              2.0                                                   0
              3.0                                                   0
              4.0                                                   3
              5.0                                                   0
STATEN ISLAND 0.0                                                   0
              1.0                                                   0
              2.0                                                   0

                                        number_of_pedestrians_killed  \
borough       number_of_persons_killed
BRONX         0.0                                                  0
              1.0                                                  1
              2.0                                                  2
BROOKLYN      0.0                                                  0
              1.0                                                  1
              2.0                                                  0
              3.0                                                  0
MANHATTAN     0.0                                                  0
              1.0                                                  1
              8.0                                                  6
QUEENS        0.0                                                  0
              1.0                                                  1
              2.0                                                  0
              3.0                                                  0
              4.0                                                  2
              5.0                                                  0
STATEN ISLAND 0.0                                                  0
              1.0                                                  0
              2.0                                                  2

                                        number_of_cyclist_injured  \
borough       number_of_persons_killed
BRONX         0.0                                               0
              1.0                                               0
              2.0                                               0
BROOKLYN      0.0                                               0
              1.0                                               0
              2.0                                               0
              3.0                                               0
MANHATTAN     0.0                                               0
              1.0                                               0
              8.0                                               1
QUEENS        0.0                                               0
              1.0                                               0
              2.0                                               0
              3.0                                               0
              4.0                                               0
              5.0                                               0
STATEN ISLAND 0.0                                               0
              1.0                                               0
              2.0                                               0

                                        number_of_cyclist_killed  \
borough       number_of_persons_killed
BRONX         0.0                                              0
              1.0                                              0
              2.0                                              0
BROOKLYN      0.0                                              0
              1.0                                              0
              2.0                                              0
              3.0                                              0
MANHATTAN     0.0                                              0
              1.0                                              0
              8.0                                              2
QUEENS        0.0                                              0
              1.0                                              0
              2.0                                              0
              3.0                                              0
              4.0                                              0
              5.0                                              0
STATEN ISLAND 0.0                                              0
              1.0                                              1
              2.0                                              0

                                        number_of_motorist_injured  \
borough       number_of_persons_killed
BRONX         0.0                                                0
              1.0                                                0
              2.0                                                0
BROOKLYN      0.0                                                0
              1.0                                                0
              2.0                                                0
              3.0                                                1
MANHATTAN     0.0                                                0
              1.0                                                2
              8.0                                                4
QUEENS        0.0                                                0
              1.0                                                0
              2.0                                                1
              3.0                                                3
              4.0                                               12
              5.0                                                3
STATEN ISLAND 0.0                                                0
              1.0                                                0
              2.0                                                0

                                        number_of_motorist_killed  \
borough       number_of_persons_killed
BRONX         0.0                                               0
              1.0                                               0
              2.0                                               0
BROOKLYN      0.0                                               0
              1.0                                               0
              2.0                                               2
              3.0                                               3
MANHATTAN     0.0                                               0
              1.0                                               0
              8.0                                               0
QUEENS        0.0                                               0
              1.0                                               0
              2.0                                               2
              3.0                                               3
              4.0                                               2
              5.0                                               5
STATEN ISLAND 0.0                                               0
              1.0                                               0
              2.0                                               0

                                         contributing_factor_vehicle_1  \
borough       number_of_persons_killed
BRONX         0.0                                  Passing Too Closely
              1.0                       Driver Inattention/Distraction
              2.0                                Following Too Closely
BROOKLYN      0.0                                Following Too Closely
              1.0                        Failure to Yield Right-of-Way
              2.0                                         Unsafe Speed
              3.0                          Traffic Control Disregarded
MANHATTAN     0.0                       Passing or Lane Usage Improper
              1.0                          Traffic Control Disregarded
              8.0                                      Other Vehicular
QUEENS        0.0                                          Unspecified
              1.0                        Failure to Yield Right-of-Way
              2.0                                         Unsafe Speed
              3.0                          Traffic Control Disregarded
              4.0                                         Unsafe Speed
              5.0                          Traffic Control Disregarded
STATEN ISLAND 0.0                                          Unspecified
              1.0                          Traffic Control Disregarded
              2.0                       Driver Inattention/Distraction

                                       contributing_factor_vehicle_2  \
borough       number_of_persons_killed
BRONX         0.0                                        Unspecified
              1.0                                    Other Vehicular

Look at this same information as the dataframe.

In [21]:
MVC1.head(30)

,accident_date,accident_time,borough,zip_code,latitude,longitude,location,on_street_name,off_street_name,cross_street_name,number_of_persons_injured,number_of_persons_killed,number_of_pedestrians_injured,number_of_pedestrians_killed,number_of_cyclist_injured,number_of_cyclist_killed,number_of_motorist_injured,number_of_motorist_killed,contributing_factor_vehicle_1,contributing_factor_vehicle_2,contributing_factor_vehicle_3,contributing_factor_vehicle_4,contributing_factor_vehicle_5,collision_id,vehicle_type_code1,vehicle_type_code2,vehicle_type_code_3,vehicle_type_code_4,vehicle_type_code_5
0,2019-07-05T00:00:00.000,14:50,NaN,NaN,40.594970,-73.760710,POINT (-73.76071 40.59497),BEACH 28 STREET,SEAGIRT AVENUE,NaN,1.0,0.0,1,0,0,0,0,0,Failure to Yield Right-of-Way,NaN,NaN,NaN,NaN,4165974,Station Wagon/Sport Utility Vehicle,NaN,NaN,NaN,NaN
1,2019-07-26T00:00:00.000,9:45,NaN,NaN,40.819595,-73.927310,POINT (-73.92731 40.819595),EAST 150 STREET,NaN,NaN,0.0,0.0,0,0,0,0,0,0,Oversized Vehicle,Other Vehicular,NaN,NaN,NaN,4177741,Bus,Taxi,NaN,NaN,NaN
2,2019-07-15T00:00:00.000,18:07,BRONX,10468,40.863785,-73.900280,POINT (-73.90028 40.863785),EAST 190 STREET,JEROME AVENUE,NaN,0.0,0.0,0,0,0,0,0,0,Passing Too Closely,Unspecified,NaN,NaN,NaN,4172081,Station Wagon/Sport Utility Vehicle,Station Wagon/Sport Utility Vehicle,NaN,NaN,NaN
3,2019-07-28T00:00:00.000,17:20,NaN,NaN,40.639725,-74.036050,POINT (-74.03605 40.639725),BELT PARKWAY,NaN,NaN,0.0,0.0,0,0,0,0,0,0,Following Too Closely,Unspecified,NaN,NaN,NaN,4178344,Sedan,Sedan,NaN,NaN,NaN
4,2019-07-06T00:00:00.000,2:45,NaN,NaN,40.757877,-73.859520,POINT (-73.85952 40.757877),110 STREET,NORTHERN BOULEVARD,NaN,0.0,0.0,0,0,0,0,0,0,Unspecified,NaN,NaN,NaN,NaN,4165326,Sedan,NaN,NaN,NaN,NaN
5,2019-07-28T00:00:00.000,8:00,MANHATTAN,10016,40.743782,-73.973520,POINT (-73.97352 40.743782),EAST 34 STREET,1 AVENUE,NaN,0.0,0.0,0,0,0,0,0,0,Passing or Lane Usage Improper,Unspecified,NaN,NaN,NaN,4178110,Sedan,Sedan,NaN,NaN,NaN
6,2019-07-29T00:00:00.000,17:12,NaN,NaN,40.879253,-73.919960,POINT (-73.91996 40.879253),HENRY HUDSON PARKWAY,NaN,NaN,1.0,0.0,0,0,0,0,1,0,Lost Consciousness,Unspecified,NaN,NaN,NaN,4180143,Sedan,Dump,NaN,NaN,NaN
7,2019-07-11T00:00:00.000,14:00,NaN,NaN,40.633564,-74.015950,POINT (-74.01595 40.633564),66 STREET,7 AVENUE,NaN,1.0,0.0,0,0,0,0,1,0,Following Too Closely,Unspecified,NaN,NaN,NaN,4168412,Sedan,Station Wagon/Sport Utility Vehicle,NaN,NaN,NaN
8,2019-07-02T00:00:00.000,16:14,NaN,NaN,NaN,NaN,NaN,MANHATTAN BR UPPER,NaN,NaN,0.0,0.0,0,0,0,0,0,0,Fatigued/Drowsy,NaN,NaN,NaN,NaN,4163602,Sedan,NaN,NaN,NaN,NaN
9,2019-07-20T00:00:00.000,19:08,BRONX,10472,40.830654,-73.881570,POINT (-73.88157 40.830654),NaN,NaN,1288 EVERGREEN AVENUE,0.0,0.0,0,0,0,0,0,0,Unspecified,Unspecified,NaN,NaN,NaN,4174223,Sedan,Sedan,NaN,NaN,NaN
10,2019-07-19T00:00:00.000,13:30,NaN,NaN,40.744644,-73.731186,POINT (-73.731186 40.744644),GRAND CENTRAL PKWY,NaN,NaN,1.0,0.0,0,0,0,0,1,0,Following Too Closely,Unspecified,NaN,NaN,NaN,4173303,Sedan,Sedan,NaN,NaN,NaN
11,2019-07-17T00:00:00.000,20:50,BROOKLYN,11221,40.696873,-73.927920,POINT (-73.92792 40.696873),NaN,NaN,35 CEDAR STREET,0.0,0.0,0,0,0,0,0,0,Following Too Closely,Unspecified,NaN,NaN,NaN,4172318,Sedan,NaN,NaN,NaN,NaN
12,2019-07-19T00:00:00.000,0:00,BRONX,10460,40.839985,-73.877426,POINT (-73.877426 40.839985),EAST TREMONT AVENUE,DEVOE AVENUE,NaN,0.0,0.0,0,0,0,0,0,0,Following Too Closely,Unspecified,NaN,NaN,NaN,4174748,Sedan,Sedan,NaN,NaN,NaN
13,2019-07-04T00:00:00.000,9:58,BRONX,10473,40.822586,-73.870760,POINT (-73.87076 40.822586),NaN,NaN,1668 STORY AVENUE,1.0,0.0,0,0,0,0,1,0,Following Too Closely,Following Too Closely,Unspecified,NaN,NaN,4165046,Sedan,Sedan,Pick-up Truck,NaN,NaN
14,2019-07-12T00:00:00.000,0:00,NaN,NaN,40.758960,-73.829850,POINT (-73.82985 40.75896),MAIN STREET,NaN,NaN,0.0,0.0,0,0,0,0,0,0,Passing or Lane Usage Improper,Passing or Lane Usage Improper,NaN,NaN,NaN,4168635,Station Wagon/Sport Utility Vehicle,Box Truck,NaN,NaN,NaN
15,2019-07-10T00:00:00.000,9:19,NaN,NaN,40.879215,-73.885284,POINT (-73.885284 40.879215),JEROME AVENUE,EAST MOSHOLU PARKWAY SOUTH,NaN,1.0,0.0,0,0,0,0,1,0,Unspecified,Unspecified,NaN,NaN,NaN,4167716,Station Wagon/Sport Utility Vehicle,Station Wagon/Sport Utility Vehicle,NaN,NaN,NaN
16,2019-07-08T00:00:00.000,19:30,BRONX,10463,40.877937,-73.916250,POINT (-73.91625 40.877937),NaN,NaN,2500 JOHNSON AVENUE,0.0,0.0,0,0,0,0,0,0,Oversized Vehicle,NaN,NaN,NaN,NaN,4166887,Pick-up Truck,NaN,NaN,NaN,NaN
17,2019-07-25T00:00:00.000,10:10,NaN,NaN,NaN,NaN,NaN,HENRY HUDSON PARKWAY,NaN,NaN,0.0,0.0,0,0,0,0,0,0,Unspecified,Unspecified,NaN,NaN,NaN,4176946,Sedan,Station Wagon/Sport Utility Vehicle,NaN,NaN,NaN
18,2019-07-16T00:00:00.000,22:15,NaN,NaN,40.855350,-73.918360,POINT (-73.91836 40.85535),MAJOR DEEGAN EXPRESSWAY,NaN,NaN,1.0,0.0,0,0,0,0,1,0,Following Too Closely,Unspecified,NaN,NaN,NaN,4171732,Sedan,Sedan,NaN,NaN,NaN
19,2019-07-24T00:00:00.000,15:55,BROOKLYN,11218,40.640236,-73.981150,POINT (-73.98115 40.640236),NaN,NaN,1456 36 STREET,0.0,0.0,0,0,0,0,0,0,Steering Failure,Unspecified,Unspecified,Unspecified,Unspecified,4176793,Bus,Station Wagon/Sport Utility Vehicle,Taxi,Sedan,Station Wagon/Sport Utility Vehicle
20,2019-07-06T00:00:00.000,12:15,BROOKLYN,11226,40.650276,-73.959580,POINT (-73.95958 40.650276),NaN,NaN,2125 CHURCH AVENUE,0.0,0.0,0,0,0,0,0,0,Unspecified,Unspecified,NaN,NaN,NaN,4165412,Station Wagon/Sport Utility Vehicle,Sedan,NaN,NaN,NaN
21,2019-07-15T00:00:00.000,16:50,QUEENS,11385,40.697315,-73.905590,POINT (-73.90559 40.697315),NaN,NaN,1629 WEIRFIELD STREET,0.0,0.0,0,0,0,0,0,0,Unspecified,Unspecified,NaN,NaN,NaN,4175289,Station Wagon/Sport Utility Vehicle,Sedan,NaN,NaN,NaN
22,2019-07-20T00:00:00.000,20:50,NaN,NaN,NaN,NaN,NaN,EXTERIOR STREET,NaN,NaN,0.0,0.0,0,0,0,0,0,0,Unsafe Speed,Unspecified,Unspecified,NaN,NaN,4174050,Sedan,Station Wagon/Sport Utility Vehicle,NaN,NaN,NaN
23,2019-07-27T00:00:00.000,20:36,BRONX,10457,40.849106,-73.894950,POINT (-73.89495 40.849106),3 AVENUE,EAST 179 STREET,NaN,0.0,0.0,0,0,0,0,0,0,Driver Inattention/Distraction,Unspecified,NaN,NaN,NaN,4178264,Station Wagon/Sport Utility Vehicle,Station Wagon/Sport Utility Vehicle,NaN,NaN,NaN
24,2019-07-26T00:00:00.000,13:30,NaN,NaN,40.585163,-73.956410,POINT (-73.95641 40.585163),BELT PARKWAY,NaN,NaN,0.0,0.0,0,0,0,0,0,0,Driver Inattention/Distraction,Unspecified,NaN,NaN,NaN,4177828,Bus,Station Wagon/Sport Utility Vehicle,NaN,NaN,NaN
25,2019-07-02T00:00:00.000,13:10,NaN,NaN,40.707380,-73.918490,POINT (-73.91849 40.70738),SUYDAM STREET,NaN,NaN,0.0,0.0,0,0,0,0,0,0,Oversized Vehicle,Unspecified,NaN,NaN,NaN,4163440,Sedan,Box Truck,NaN,NaN,NaN
26,2019-07-20T00:00:00.000,23:20,BROOKLYN,11203,40.643610,-73.942850,POINT (-73.94285 40.64361),NaN,NaN,3602 CLARENDON ROAD,0.0,0.0,0,0,0,0,0,0,Driver Inattention/Distraction,Unspecified,Unspecified,NaN,NaN,4175237,Sedan,Sedan,Sedan,NaN,NaN
27,2016-04-02T00:00:00.000,21:09,BRONX,10451,NaN,NaN,NaN,EXTERIOR STREET,EAST 138 STREET,NaN,0.0,0.0,0,0,0,0,0,0,Following Too Closely,Unspecified,NaN,NaN,NaN,3411039,PASSENGER VEHICLE,NaN,NaN,NaN,NaN
28,2019-07-19T00:00:00.000,10:00,NaN,NaN,40.733390,-74.004280,POINT (-74.00428 40.73339),CHRISTOPHER STREET,NaN,NaN,0.0,0.0,0,0,0,0,0,0,Driver Inattention/Distraction,Driver Inattention/Distraction,NaN,NaN,NaN,4174632,Station Wagon/Sport Utility Vehicle,Station Wagon/Sport Utility Vehicle,NaN,NaN,NaN
29,2019-07-27T00:00:00.000,13:00,QUEENS,11373,40.730637,-73.879980,POINT (-73.87998 40.730637),NaN,NaN,56-10 84 STREET,0.0,0.0,0,0,0,0,0,0,Backing Unsafely,Unspecified,NaN,NaN,NaN,4178395,Station Wagon/Sport Utility Vehicle,Station Wagon/Sport Utility Vehicle,NaN,NaN,NaN
30,2019-07-12T00:00:00.000,11:00,NaN,NaN,40.809390,-73.880420,POINT (-73.88042 40.80939),HALLECK STREET,FOOD CENTER DRIVE,NaN,0.0,0.0,0,0,0,0,0,0,Unspecified,Unspecified,NaN,NaN,NaN,4177015,Sedan,Sedan,NaN,NaN,NaN
31,2019-07-24T00:00:00.000,11:00,BRONX,10455,40.813046,-73.914024,POINT (-73.914024 40.813046),NaN,NaN,550 EAST 147 STREET,0.0,0.0,0,0,0,0,0,0,Other Vehicular,Other Vehicular,NaN,NaN,NaN,4176257,Sedan,UNKNO,NaN,NaN,NaN
32,2019-07-17T00:00:00.000,19:00,NaN,NaN,NaN,NaN,NaN,139 STREET,MAIN STREET,NaN,1.0,0.0,1,0,0,0,0,0,Driver Inattention/Distraction,Unspecified,NaN,NaN,NaN,4172211,Station Wagon/Sport Utility Vehicle,Station Wagon/Sport Utility Vehicle,NaN,NaN,NaN
33,2019-07-04T00:00:00.000,21:20,NaN,NaN,NaN,NaN,NaN,160 STREET,CROSS ISLAND PARKWAY,NaN,1.0,0.0,0,0,0,0,1,0,Traffic Control Disregarded,Traffic Control Disregarded,NaN,NaN,NaN,4164514,Station Wagon/Sport Utility Vehicle,Station Wagon/Sport Utility Vehicle,NaN,NaN,NaN
34,2019-07-12T00:00:00.000,11:39,BROOKLYN,11206,40.704700,-73.942770,POINT (-73.94277 40.7047),NaN,NaN,102 GRAHAM AVENUE,0.0,0.0,0,0,0,0,0,0,Passing Too Closely,Turning Improperly,NaN,NaN,NaN,4170546,Sedan,Station Wagon/Sport Utility Vehicle,NaN,NaN,NaN
35,2019-07-14T00:00:00.000,18:30,BRONX,10465,40.829422,-73.829750,POINT (-73.82975 40.829422),SWINTON AVENUE,BARKLEY AVENUE,NaN,0.0,0.0,0,0,0,0,0,0,Alcohol Involvement,Unspecified,NaN,NaN,NaN,4171864,Station Wagon/Sport Utility Vehicle,Station Wagon/Sport Utility Vehicle,NaN,NaN,NaN
36,2019-07-25T00:00:00.000,21:50,QUEENS,11357,40.782993,-73.799340,POINT (-73.79934 40.782993),WILLETS POINT BOULEVARD,17 AVENUE,NaN,0.0,0.0,0,0,0,0,0,0,Animals Action,Unspecified,NaN,NaN,NaN,4182138,Station Wagon/Sport Utility Vehicle,Sedan,NaN,NaN,NaN
37,2019-07-08T00:00:00.000,8:00,NaN,NaN,40.693787,-73.811730,POINT (-73.81173 40.693787),VAN WYCK EXPWY,NaN,NaN,0.0,0.0,0,0,0,0,0,0,Following Too Closely,Unspecified,NaN,NaN,NaN,4166374,Taxi,Sedan,NaN,NaN,NaN
38,2019-07-02T00:00:00.000,14:20,BROOKLYN,11207,40.654140,-73.887320,POINT (-73.88732 40.65414),PENNSYLVANIA AVENUE,COZINE AVENUE,NaN,0.0,0.0,0,0,0,0,0,0,Unspecified,Unspecified,NaN,NaN,NaN,4164764,Sedan,Bus,NaN,NaN,NaN
39,2019-07-19T00:00:00.000,19:00,MANHATTAN,10014,40.734657,-74.004750,POINT (-74.00475 40.734657),BLEECKER STREET,CHARLES STREET,NaN,1.0,0.0,0,0,0,0,1,0,Traffic Control Disregarded,Unspecified,NaN,NaN,NaN,4174653,Station Wagon/Sport Utility Vehicle,Station Wagon/Sport Utility Vehicle,NaN,NaN,NaN
40,2019-07-07T00:00:00.000,15:00,BRONX,10460,40.837364,-73.869130,POINT (-73.86913 40.837364),NaN,NaN,1481 COMMONWLTH AVENUE,0.0,0.0,0,0,0,0,0,0,Unspecified,NaN,NaN,NaN,NaN,4165662,Sedan,NaN,NaN,NaN,NaN
41,2019-07-23T00:00:00.000,7:15,BRONX,10462,40.832752,-73.844925,POINT (-73.844925 40.832752),ZEREGA AVENUE,GLEASON AVENUE,NaN,4.0,0.0,0,0,0,0,4,0,Unspecified,Unspecified,Unspecified,Unspecified,NaN,4175549,Sedan,Station Wagon/Sport Utility Vehicle,Station Wagon/Sport Utility Vehicle,Station Wagon/Sport Utility Vehicle,NaN
42,2019-07-11T00:00:00.000,16:15,BROOKLYN,11212,40.655853,-73.910126,POINT (-73.910126 40.655853),HEGEMAN AVENUE,BOYLAND STREET,NaN,0.0,0.0,0,0,0,0,0,0,Following Too Closely,Unspecified,NaN,NaN,NaN,4169305,Station Wagon/Sport Utility Vehicle,Pick-up Truck,NaN,NaN,NaN
43,2019-07-22T00:00:00.000,15:45,MANHATTAN,10035,40.808956,-73.940410,POINT (-73.94041 40.808956),WEST 129 STREET,5 AVENUE,NaN,0.0,0.0,0,0,0,0,0,0,Driver Inattention/Distraction,Driver Inattention/Distraction,NaN,NaN,NaN,4176042,Sedan,Bus,NaN,NaN,NaN
44,2019-07-02T00:00:00.000,0:22,NaN,NaN,40.677353,-73.944240,POINT (-73.94424 40.677353),BROOKLYN AVENUE,NaN,NaN,1.0,0.0,0,0,1,0,0,0,Pedestrian/Bicyclist/Other Pedestrian Error/Co...,Pedestrian/Bicyclist/Other Pedestrian Error/Co...,NaN,NaN,NaN,4163367,Bike,NaN,NaN,NaN,NaN
45,2019-07-26T00:00:00.000,11:00,NaN,NaN,40.773030,-73.978290,POINT (-73.97829 40.77303),CENTRAL PARK WEST,NaN,NaN,0.0,0.0,0,0,0,0,0,0,Driver Inattention/Distraction,Unspecified,NaN,NaN,NaN,4177435,Station Wagon/Sport Utility Vehicle,Taxi,NaN,NaN,NaN
46,2019-07-15T00:00:00.000,18:30,QUEENS,11368,40.738697,-73.857994,POINT (-73.857994 40.738697),NaN,NaN,57-08 XENIA STREET,0.0,0.0,0,0,0,0,0,0,Driver Inattention/Distraction,Unspecified,Unspecified,NaN,NaN,4171960,Station Wagon/Sport Utility Vehicle,Sedan,Sedan,NaN,NaN
47,2019-07-27T00:00:00.000,8:45,QUEENS,11378,40.721264,-73.903730,POINT (-73.90373 40.721264),NaN,NaN,61-37 FLUSHING AVENUE,0.0,0.0,0,0,0,0,0,0,Unspecified,NaN,NaN,NaN,NaN,4178041,Sedan,NaN,NaN,NaN,NaN
48,2019-07-22T00:00:00.000,16:03,BRONX,10469,40.876694,-73.851600,POINT (-73.8516 40.876694),NaN,NaN,3482 WILSON AVENUE,0.0,0.0,0,0,0,0,0,0,Passing Too Closely,Unspecified,NaN,NaN,NaN,4175539,Sedan,NaN,NaN,NaN,NaN
49,2019-07-25T00:00:00.000,16:50,NaN,NaN,NaN,NaN,NaN,MANHATTAN BR UPPER,NaN,NaN,1.0,0.0,0,0,0,0,1,0,Driver Inattention/Distraction,Unspecified,Unspecified,NaN,NaN,4180401,Motorcycle,Station Wagon/Sport Utility Vehicle,Sedan,NaN,NaN
50,2019-07-14T00:00:00.000,13:00,BRONX,10472,40.832020,-73.873230,POINT (-73.87323 40.83202),EAST 172 STREET,METCALF AVENUE,NaN,0.0,0.0,0,0,0,0,0,0,Unspecified,Unspecified,NaN,NaN,NaN,4169960,Pick-up Truck,Sedan,NaN,NaN,NaN
51,2019-07-03T00:00:00.000,14:30,MANHATTAN,10001,40.750040,-73.995050,POINT (-73.99505 40.75004),NaN,NaN,413 8 AVENUE,0.0,0.0,0,0,0,0,0,0,Unsafe Lane Changing,Unspecified,NaN,NaN,NaN,4164717,Taxi,Taxi,NaN,NaN,NaN
52,2019-07-13T00:00:00.000,10:20,BROOKLYN,11208,40.662014,-73.868380,POINT (-73.86838 40.662014),COZINE AVENUE,FOUNTAIN AVENUE,NaN,0.0,0.0,0,0,0,0,0,0,Driver Inattention/Distraction,Unsafe Lane Changing,NaN,NaN,NaN,4169751,Sedan,Bus,NaN,NaN,NaN
53,2019-07-28T00:00:00.000,23:40,BROOKLYN,11218,NaN,NaN,NaN,OCEAN PARKWAY,CORTELYOU ROAD,NaN,3.0,0.0,0,0,0,0,3,0,Unsafe Speed,Unspecified,NaN,NaN,NaN,4181311,Sedan,Sedan,NaN,NaN,NaN
54,2019-07-17T00:00:00.000,20:45,QUEENS,11368,40.757233,-73.860910,POINT (-73.86091 40.757233),NaN,NaN,33-36 108 STREET,1.0,0.0,0,0,0,0,1,0,Unspecified,Unspecified,NaN,NaN,NaN,4172615,Station Wagon/Sport Utility Vehicle,Station Wagon/Sport Utility Vehicle,NaN,NaN,NaN
55,2019-07-03T00:00:00.000,21:30,NaN,NaN,40.768875,-73.948980,POINT (-73.94898 40.768875),FDR DRIVE,NaN,NaN,0.0,0.0,0,0,0,0,0,0,Driver Inattention/Distraction,Driver Inattention/Distraction,NaN,NaN,NaN,4164171,Sedan,Sedan,NaN,NaN,NaN
56,2019-07-14T00:00:00.000,11:35,QUEENS,11422,40.665610,-73.735680,POINT (-73.73568 40.66561),SUNRISE HIGHWAY,FRANCIS LEWIS BOULEVARD,NaN,0.0,0.0,0,0,0,0,0,0,Unsafe Lane Changing,Unspecified,NaN,NaN,NaN,4169667,Station Wagon/Sport Utility Vehicle,Station Wagon/Sport Utility Vehicle,NaN,NaN,NaN
57,2019-07-22T00:00:00.000,9:00,NaN,NaN,40.584564,-73.971940,POINT (-73.97194 40.584564),WEST 3 STREET,NaN,NaN,0.0,0.0,0,0,0,0,0,0,Unspecified,NaN,NaN,NaN,NaN,4175370,Sedan,NaN,NaN,NaN,NaN
58,2019-07-16T00:00:00.000,13:40,BRONX,10451,40.824295,-73.909450,POINT (-73.90945 40.824295),NaN,NaN,508 EAST 163 STREET,0.0,0.0,0,0,0,0,0,0,Turning Improperly,Unspecified,NaN,NaN,NaN,4171694,Sedan,Station Wagon/Sport Utility Vehicle,NaN,NaN,NaN
59,2019-07-08T00:00:00.000,6:40,NaN,NaN,40.692480,-73.800995,POINT (-73.800995 40.69248),LAKEWOOD AVENUE,NaN,NaN,0.0,0.0,0,0,0,0,0,0,Unspecified,NaN,NaN,NaN,NaN,4166392,Station Wagon/Sport Utility Vehicle,Bus,NaN,NaN,NaN
60,2019-07-22T00:00:00.000,2:32,MANHATTAN,10030,40.820340,-73.940025,POINT (-73.940025 40.82034),WEST 143 STREET,7 AVENUE,NaN,1.0,0.0,0,0,0,0,1,0,Driver Inattention/Distraction,Driver Inattention/Distraction,NaN,NaN,NaN,4174465,Taxi,Sedan,NaN,NaN,NaN
61,2019-07-22T00:00:00.000,0:00,QUEENS,11101,40.739674,-73.934586,POINT (-73.934586 40.739674),VANDAM STREET,HUNTERS POINT AVENUE,NaN,0.0,0.0,0,0,0,0,0,0,Driver Inattention/Distraction,Unspecified,NaN,NaN,NaN,4175552,Station Wagon/Sport Utility Vehicle,Taxi,NaN,NaN,NaN
62,2019-07-26T00:00:00.000,17:55,MANHATTAN,10001,40.747406,-73.991840,POINT (-73.99184 40.747406),NaN,NaN,167 WEST 29 STREET,1.0,0.0,1,0,0,0,0,0,Unspecified,NaN,NaN,NaN,NaN,4178498,Sedan,NaN,NaN,NaN,NaN
63,2019-07-20T00:00:00.000,20:00,BROOKLYN,11226,40.640125,-73.946304,POINT (-73.946304 40.640125),NaN,NaN,3211 NEWKIRK AVENUE,0.0,0.0,0,0,0,0,0,0,Passing or Lane Usage Improper,NaN,NaN,NaN,NaN,4175254,Station Wagon/Sport Utility Vehicle,NaN,NaN,NaN,NaN
64,2019-07-10T00:00:00.000,13:45,NaN,NaN,NaN,NaN,NaN,ROCKAWAY BOULEVARD,BROOKVILLE BOULEVARD,NaN,0.0,0.0,0,0,0,0,0,0,Unspecified,Unspecified,NaN,NaN,NaN,4167867,Sedan,Station Wagon/Sport Utility Vehicle,NaN,NaN,NaN
65,2019-07-27T00:00:00.000,21:10,NaN,NaN,40.619790,-73.913330,POINT (-73.91333 40.61979),VETERANS AVENUE,EAST 66 STREET,NaN,3.0,0.0,0,0,0,0,3,0,Passing or Lane Usage Improper,Passing or Lane Usage Improper,Unspecified,NaN,NaN,4178112,Station Wagon/Sport Utility Vehicle,Motorbike,Motorbike,NaN,NaN
66,2019-07-04T00:00:00.000,22:47,NaN,NaN,40.722485,-73.974396,POINT (-73.974396 40.722485),FDR DRIVE,NaN,NaN,0.0,0.0,0,0,0,0,0,0,Passing or Lane Usage Improper,Unspecified,NaN,NaN,NaN,4166169,Sedan,Station Wagon/Sport Utility Vehicle,NaN,NaN,NaN
67,2019-07-12T00:00:00.000,8:30,NaN,NaN,40.702488,-73.995030,POINT (-73.99503 40.702488),FURMAN STREET,NaN,NaN,0.0,0.0,0,0,0,0,0,0,Unspecified,NaN,NaN,NaN,NaN,4169403,Station Wagon/Sport Utility Vehicle,NaN,NaN,NaN,NaN
68,2019-07-07T00:00:00.000,16:40,QUEENS,11691,40.596310,-73.767426,POINT (-73.767426 40.59631),BEACH CHANNEL DRIVE,SEAGIRT BOULEVARD,NaN,1.0,0.0,0,0,0,0,1,0,Unsafe Speed,Unspecified,NaN,NaN,NaN,4165988,Sedan,Sedan,NaN,NaN,NaN
69,2019-07-26T00:00:00.000,14:40,BROOKLYN,11229,40.603840,-73.960600,POINT (-73.9606 40.60384),NaN,NaN,1877 EAST 12 STREET,0.0,0.0,0,0,0,0,0,0,Passing Too Closely,Unspecified,NaN,NaN,NaN,4177791,Bus,Sedan,NaN,NaN,NaN
71,2019-07-26T00:00:00.000,7:40,MANHATTAN,10017,40.750282,-73.971860,POINT (-73.97186 40.750282),NaN,NaN,800 2 AVENUE,0.0,0.0,0,0,0,0,0,0,Driver Inattention/Distraction,Unspecified,NaN,NaN,NaN,4177493,Station Wagon/Sport Utility Vehicle,Station Wagon/Sport Utility Vehicle,NaN,NaN,NaN
72,2019-07-18T00:00:00.000,3:20,MANHATTAN,10033,40.848682,-73.939224,POINT (-73.939224 40.848682),WEST 178 STREET,FORT WASHINGTON AVENUE,NaN,0.0,0.0,0,0,0,0,0,0,Unspecified,Unspecified,NaN,NaN,NaN,4172408,Station Wagon/Sport Utility Vehicle,Ambulance,NaN,NaN,NaN
73,2019-07-20T00:00:00.000,22:00,QUEENS,11361,40.758724,-73.775450,POINT (-73.77545 40.758724),NaN,NaN,208-01 NORTHERN BOULEVARD,0.0,0.0,0,0,0,0,0,0,Turning Improperly,NaN,NaN,NaN,NaN,4173875,Pick-up Truck,NaN,NaN,NaN,NaN
74,2019-07-07T00:00:00.000,18:24,BROOKLYN,11229,40.607380,-73.943430,POINT (-73.94343 40.60738),NaN,NaN,2923 AVENUE R,0.0,0.0,0,0,0,0,0,0,Following Too Closely,Unspecified,NaN,NaN,NaN,4165978,Station Wagon/Sport Utility Vehicle,Sedan,NaN,NaN,NaN
75,2019-07-14T00:00:00.000,20:59,MANHATTAN,10016,40.743782,-73.973520,POINT (-73.97352 40.743782),EAST 34 STREET,1 AVENUE,NaN,1.0,0.0,0,0,1,0,0,0,Driver Inattention/Distraction,Driver Inattention/Distraction,NaN,NaN,NaN,4170003,Station Wagon/Sport Utility Vehicle,Bike,NaN,NaN,NaN
77,2019-07-27T00:00:00.000,23:30,BRONX,10464,40.848650,-73.787030,POINT (-73.78703 40.84865),NaN,NaN,361 CITY ISLAND AVENUE,5.0,0.0,0,0,0,0,5,0,Failure to Yield Right-of-Way,Unspecified,NaN,NaN,NaN,4179414,Sedan,Sedan,NaN,NaN,NaN
78,2019-07-04T00:00:00.000,18:30,QUEENS,11366,40.720955,-73.809350,POINT (-73.80935 40.720955),PARSONS BOULEVARD,79 AVENUE,NaN,0.0,0.0,0,0,0,0,0,0,Turning Improperly,Unspecified,NaN,NaN,NaN,4164449,Sedan,Sedan,NaN,NaN,NaN
79,2019-07-17T00:00:00.000,22:40,MANHATTAN,10012,40.720890,-73.995760,POINT (-73.99576 40.72089),KENMARE STREET,MOTT STREET,NaN,1.0,0.0,0,0,1,0,0,0,Driver Inattention/Distraction,Unspecified,NaN,NaN,NaN,4172752,Sedan,Bike,NaN,NaN,NaN
81,2019-07-12T00:00:00.000,9:30,QUEENS,11106,40.760036,-73.922570,POINT (-73.92257 40.760036),NaN,NaN,32-66 35 STREET,1.0,0.0,1,0,0,0,0,0,Driver Inattention/Distraction,Unspecified,NaN,NaN,NaN,4170168,Sedan,Station Wagon/Sport Utility Vehicle,NaN,NaN,NaN
82,2019-07-03T00:00:00.000,9:50,BROOKLYN,11221,40.691994,-73.933020,POINT (-73.93302 40.691994),NaN,NaN,971 LAFAYETTE AVENUE,0.0,0.0,0,0,0,0,0,0,Passing Too Closely,Unspecified,NaN,NaN,NaN,4165295,Station Wagon/Sport Utility Vehicle,Box Truck,NaN,NaN,NaN

I would like to know what numbers are associated with deaths for crashes in Queens and look at this information.

In [24]:
MVC1.get_value('QUEENS')

AttributeError: ignored

I would like to drop a few columns that have quite a few NaN.

In [28]:
MVC2 = MVC.drop(['contributing_factor_vehicle_3', 'contributing_factor_vehicle_4', 'contributing_factor_vehicle_5'],axis=1)
MVC2

,accident_date,accident_time,borough,zip_code,latitude,longitude,location,on_street_name,off_street_name,cross_street_name,number_of_persons_injured,number_of_persons_killed,number_of_pedestrians_injured,number_of_pedestrians_killed,number_of_cyclist_injured,number_of_cyclist_killed,number_of_motorist_injured,number_of_motorist_killed,contributing_factor_vehicle_1,contributing_factor_vehicle_2,collision_id,vehicle_type_code1,vehicle_type_code2,vehicle_type_code_3,vehicle_type_code_4,vehicle_type_code_5
0,2019-07-05T00:00:00.000,14:50,NaN,NaN,40.594970,-73.760710,POINT (-73.76071 40.59497),BEACH 28 STREET,SEAGIRT AVENUE,NaN,1.0,0.0,1,0,0,0,0,0,Failure to Yield Right-of-Way,NaN,4165974,Station Wagon/Sport Utility Vehicle,NaN,NaN,NaN,NaN
1,2019-07-26T00:00:00.000,9:45,NaN,NaN,40.819595,-73.927310,POINT (-73.92731 40.819595),EAST 150 STREET,NaN,NaN,0.0,0.0,0,0,0,0,0,0,Oversized Vehicle,Other Vehicular,4177741,Bus,Taxi,NaN,NaN,NaN
2,2019-07-15T00:00:00.000,18:07,BRONX,10468,40.863785,-73.900280,POINT (-73.90028 40.863785),EAST 190 STREET,JEROME AVENUE,NaN,0.0,0.0,0,0,0,0,0,0,Passing Too Closely,Unspecified,4172081,Station Wagon/Sport Utility Vehicle,Station Wagon/Sport Utility Vehicle,NaN,NaN,NaN
3,2019-07-28T00:00:00.000,17:20,NaN,NaN,40.639725,-74.036050,POINT (-74.03605 40.639725),BELT PARKWAY,NaN,NaN,0.0,0.0,0,0,0,0,0,0,Following Too Closely,Unspecified,4178344,Sedan,Sedan,NaN,NaN,NaN
4,2019-07-06T00:00:00.000,2:45,NaN,NaN,40.757877,-73.859520,POINT (-73.85952 40.757877),110 STREET,NORTHERN BOULEVARD,NaN,0.0,0.0,0,0,0,0,0,0,Unspecified,NaN,4165326,Sedan,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1609869,2012-10-21T00:00:00.000,17:17,QUEENS,11432,40.705762,-73.801657,POINT (-73.8016567 40.7057624),89 AVENUE,PARSONS BOULEVARD,NaN,0.0,0.0,0,0,0,0,0,0,Backing Unsafely,Unspecified,209466,PASSENGER VEHICLE,UNKNOWN,NaN,NaN,NaN
1609870,2012-10-19T00:00:00.000,12:42,STATEN ISLAND,10314,40.584040,-74.158916,POINT (-74.1589161 40.58404),WESTPORT LANE,RICHMOND HILL ROAD,NaN,0.0,0.0,0,0,0,0,0,0,Unspecified,Unspecified,294787,PASSENGER VEHICLE,PASSENGER VEHICLE,NaN,NaN,NaN
1609871,2012-10-19T00:00:00.000,22:55,BRONX,10462,40.833614,-73.860851,POINT (-73.860851 40.8336142),HUGH GRANT CIRCLE,METROPOLITAN AVENUE,NaN,0.0,0.0,0,0,0,0,0,0,Unspecified,Unspecified,81579,PASSENGER VEHICLE,PASSENGER VEHICLE,NaN,NaN,NaN
1609872,2012-10-18T00:00:00.000,15:40,NaN,NaN,40.760935,-73.731124,POINT (-73.7311243 40.7609347),NaN,NaN,NaN,1.0,0.0,0,0,0,0,1,0,Unspecified,Unspecified,3079084,PASSENGER VEHICLE,LARGE COM VEH(6 OR MORE TIRES),NaN,NaN,NaN
1609873,2012-10-19T00:00:00.000,11:43,BROOKLYN,11203,40.638048,-73.926969,POINT (-73.9269687 40.6380482),EAST 52 STREET,FARRAGUT ROAD,NaN,0.0,0.0,0,0,0,0,0,0,Unspecified,Unspecified,136053,PASSENGER VEHICLE,OTHER,NaN,NaN,NaN

In [0]:
?stats.pearsonr

In [29]:
stats.pearsonr(MVC['borough'], MVC['number_of_persons_killed'])

ValueError: ignored